[2015-05-27 08:18] typiconman opened #1 "Ponomar Unicode TT should implement Graphite kerning"
The TrueType version of the font should include horizontal kerning implemented in SIL Graphite.

[2015-06-07 17:59] typiconman opened #2 "Ponomar Unicode should provide localized forms"
Ponomar Unicode should provide the dotted forms of U+0456 and U+0406 for use with Byelorussian and Ukrainian texts (as well as Russian texts written in pre-reform orthography). The dotted form should be mapped to the same codepoint and available via the use of the *locl* (Localized Forms) feature of OpenType.

[2015-10-13 15:12] KrasnayaPloshchad opened #3 "Confusion about combining titlo half"
Hello,

I have encountered a confusion about combining titlo half, because there is a different font behavior for them.

The [Spasskaya tower](https://en.wikipedia.org/wiki/Spasskaya_Tower) have an icon including Cyrillic [nomina sacra](https://en.wikipedia.org/wiki/Nomina_sacra) marked with long titlo:

* ІС ХС (“Jesus Christ”)

In the develop version of GNU FreeFont, the annotation can be implem

[2015-10-28 08:21] KrasnayaPloshchad commented on #3
Now I think `<U+FE2E, U+FE2F>` can be generated via a mark to mark table, it’s suitable for all caps style.

[2015-10-28 13:20] typiconman commented on #3
The correct way to encode the Double Titlo is:
І<U+FE2E>С<U+FE2F> Х<U+FE2E>С<U+FE2F>

[2015-10-29 06:41] KrasnayaPloshchad commented on #3
I just using Ponomar Unicode, I don’t know whether Fevodosk Unicode appearing this problem.

[2015-12-14 15:02] KrasnayaPloshchad opened #4 "Ponomar Unicode should support more archaic letters"
This font should include more archaic letters, especially from Cyrillic Extended-B block, they are also had historical usage. As my observe, the following letters can get support firstly:
Dzělo, U+A642—A643
Djerv, the origin of Ћ and Ђ, U+A648—A649
Neutral Yer, U+A64E—A64F
An alternate version of Yery (with “back Yer”), U+A650—A651
Iotified Yat, U+A652—A653
Reversed Yu, U+A654—A655
Kopa, U+0480—04

[2015-12-14 17:15] starover77 commented on #4
The font "Ponomar Unicode" does not need to support more archaic characters because such characters are not needed for Church Slavonic typography. The Ponomar Project provides other fonts which are appropriate for the characters you suggest.

As a principle, the Ponomar Project tries to provide fonts which conform to specific genres or time periods of Slavonic literature, including: Ustav, Poluust

[2015-12-14 17:31] KrasnayaPloshchad opened #5 "Capital Letter Uk U+0423 should not have circular component"
Wikipedia article refered that [Uk](https://en.wikipedia.org/wiki/Uk_(Cyrillic)) can implement all-caps style by inputing О+У, but when I displaying it with Ponomar Unicode, it looks like ОꙊ. What if implementing all-caps styled Uk?

[2015-12-14 18:44] typiconman commented on #5
What do you mean by caps UK? U+A64A Ꙋ?

[2015-12-14 18:46] typiconman commented on #4
Yes, support of a archaic letters is provided in the Mention Unicode font. For a Synodal error font this is anachronistic.

[2015-12-15 02:46] KrasnayaPloshchad commented on #5
No, I mean by [U+041E, U+0423], but U+0423 still has the same shape as U+A64A in this case.

[2015-12-15 10:22] typiconman commented on #5
Yes. U+041E U+0423 produces the digraph ОУ, as expected. What character are you trying to represent?

[2015-12-15 10:34] typiconman commented on #3
Works as expected in Firefox 42.0 on Linux Mint 17 Qiana, other than the poor positioning over the I, which needs to be fixed.
![shot](https://cloud.githubusercontent.com/assets/5428695/11808268/797eda9a-a330-11e5-9e3b-628c50697eab.png)
 Sounds like a problem with your rendering of OpenType features. What browser / OS are you using?

[2015-12-15 10:35] #4 closed

[2015-12-15 16:52] KrasnayaPloshchad commented on #5
To my eyes, the circle in U+0423 should be removed in this case.

[2015-12-15 17:01] starover77 commented on #5
Aleksandr, I think he has a valid point. I think U+0423 should not be designed as a digraph. See the shape that we use in the Fedorovsk font.

[2015-12-15 17:03] KrasnayaPloshchad commented on #3
I have used Firefox 40.0 on Windows 10 when I post this issue. Now I was updated Firefox to 42.0, but I still unhappy with positioning.
![Screenshot 2.PNG](https://ooo.0o0.ooo/2015/12/15/567046aae7305.png)

[2015-12-15 17:17] KrasnayaPloshchad commented on #3
![to my eyes you should adjust the height for them](https://cloud.githubusercontent.com/assets/10364351/11817962/8a072716-a392-11e5-9ce9-3594ceef8932.png)

[2015-12-15 17:32] mamyt commented on #3
In Windows 10, it seems to depend on the browser that is used. Microsoft Edge (the latest from Microsoft in terms of browsers) for once actually gives the best result. Firefox is okay, but Chrome fails completely. Examples are posted below.
[TestingCombiningTilde.pdf](https://github.com/typiconman/fonts-cu/files/62967/TestingCombiningTilde.pdf)

[2015-12-15 17:48] typiconman commented on #3
Yes, there is definitely some work that can be done on adjusting the heights. But that is actually kind of difficult to do in OpenType.

[2015-12-15 17:54] typiconman commented on #5
So what you're saying is that the glyph for U+0423 should not be the same as the glyph for U+A64A? Could you submit a picture from a liturgical text that shows how the glyph should be shaped.

[2015-12-15 17:57] KrasnayaPloshchad commented on #5
Well, I just think U+0423 should giving an alternate shape after U+041E, but I don’t know what the exactly feature can be used to produce the effect. Maybe the `liga` feature can do it, but what if using a contextual sensetive feature? I have no idea.

[2015-12-15 18:06] typiconman commented on #5
It could be done with stylistic sets, or we can even replace the glyph itself. But first we need an example from a source where the ОУ is used.

[2015-12-15 18:07] KrasnayaPloshchad commented on #5
I remember I have got EB Garamond 12 font, this font seems having “ligatures” for ff, fi, fl, but I haven’t found any standard ligature for them when I open with FontForge, instead I found some contextual forms that can be used for generating the effect. May you can try to use this way for U+0423.

[2015-12-16 17:47] typiconman commented on #5
OK, look on page 3 here:
http://ponomar.net/files/part1_vigil.pdf
in the word ОУТРЕНѦ.

[2015-12-16 20:34] starover77 commented on #5
They typed it the same way on page 65. I'm still not convinced that it is proper form, but since the Synod Typografiia observed this usage, I suppose we can leave the font as it is. However, I think that the form we have used in the Fedorovsk font is the more logical form.

[2015-12-17 05:46] typiconman commented on #5
I am willing to support both alternatives, but we need examples of usage, so that we can base the character design on something.

[2015-12-17 14:24] KrasnayaPloshchad commented on #3
![you should also make them happy as you expected in your screenshot](https://cloud.githubusercontent.com/assets/10364351/11871804/dd973864-a50c-11e5-80d3-4e1de495ce4d.png)

[2015-12-17 18:03] typiconman commented on #3
You are not entering them correctly. It should be I<U+FE2E>C<U+FE2F>.

[2015-12-18 03:44] KrasnayaPloshchad commented on #5
I also found it on the cover, in the word ОУ҆ПОТРЕБИТЕЛЬНЫХЪ

[2015-12-18 20:29] KrasnayaPloshchad commented on #5
I got it again in this file, on page 4—5:
http://ponomar.net/files/kozmin.pdf
Futhremore, I think maybe you should also implementing all-caps styled ukŭ for U+0478.

[2015-12-18 21:08] starover77 commented on #5
Several Slavonic scholars have discussed this at great length in years past during the development phase of Church Slavonic fonts. In the earlier stage of Unicode, the character U+0478/0479 was introduced and was used for a while. However, after presented with actual usage in liturgical texts, where it may be necessary or desirable to use color separation (red for the first glyph, and black for th

[2015-12-19 03:10] KrasnayaPloshchad commented on #5
It’s clear that only U+0423 should implementing an alternate glyph.

[2015-12-19 03:45] starover77 commented on #5
I agree with you. U+0423 should be redesigned to remove the circle. U+0423 (У) is a monograph glyph, not a digraph. I think that when we designed the Ponomar Unicode font, we were inattentive to this detail. Aleksandr, can we fix this?

[2015-12-19 16:12] KrasnayaPloshchad commented on #5
Seen from part1_vigil.pdf, I think despite U+0423 is redesigned, the previous glyph should be keep as subsitution glyph, presented via proper feature tag.

[2015-12-24 15:09] KrasnayaPloshchad commented on #5
Now I think the existed glyph can be keep as Style Set `ss01...ss20`, this feature can also used for the letter estĭ, seen from [this page](http://tmora.org/resources/russian-language-resources/).

[2015-12-28 18:15] typiconman commented on #5
Based on discussion here and in private, it's been decided to change the glyph at U+0423 and to make the current version of the glyph a stylistic alternative.

[2015-12-29 16:00] KrasnayaPloshchad commented on #5
The current version of the glyph should also added as style set. Because the current version of M$ Word cannot access the stylistic alternative feature but can access style set.

[2016-03-20 13:18] typiconman commented on #5
@starover77 @KrasnayaPloshchad please check. I have uploaded a revision.
@starover77 where is a good place to put the stylistic alternative in the PUA? I have tentatively used U+E37A, which seems to be unused in your R&D font. Please confirm.

[2016-03-21 04:42] starover77 commented on #5
U+E37A works well for me, but let me get some clarification. You want to move Capital Letter Uk U+0423 (У with a small o) to U+E37A (which I am strongly in favor of doing), and replace it with an У without a small o?

[2016-03-21 05:00] typiconman commented on #5
@starover77 Yes. We take the Uk glyph that was at U+0423 and place it at U+E37A. At U+0423 we place a glyph for U. Please look at the current version of the font for the glyph design. It is based on the Synodal square-note Obikhod.

[2016-03-21 05:06] starover77 commented on #5
OK, go ahead and make the changes. It is fine with me. Thanks!

[2016-03-21 05:17] typiconman commented on #5
Is new glyph design OK?

[2016-03-21 05:20] starover77 commented on #5
I will look at it in the morning. I just turned the computer off for the night. :-)
Sent from Yahoo Mail on Android

  On Sun, Mar 20, 2016 at 10:17 PM, Aleksandr Andreev<notifications@github.com> wrote:
Is new glyph design OK?

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub

[2016-03-21 09:53] KrasnayaPloshchad commented on #5
Hey Aleksandr, I can see this change, however this glyph should making small improve:
![Screenshot](http://chuantu.biz/t2/33/1458553858x3340469735.png)

[2016-03-21 10:32] KrasnayaPloshchad commented on #5
Considering the previous glyph of U+0423 looks the same as U+A64A, I think the alternate glyph for U+0423 can refered the glyph used in U+A64A.

[2016-03-21 17:50] typiconman commented on #5
I updated the glyph. Please check.
@KrasnayaPloshchad Yes I will update U+)40E as well. I think mapping U+0423 -- ss --> U+A64A is a bad idea for things like search of PDF files and text extraction (see discussion of Adobe Glyph List in UTN 41). It would be better to put it into PUA.
If everything is OK, I will fix the kerning and add the ss substitutions.

[2016-03-21 18:01] KrasnayaPloshchad commented on #5
OK, It looks so good. BTW is it possible of coping reference from U+A64A to a PUA code point?

[2016-03-21 18:03] typiconman commented on #5
@KrasnayaPloshchad Yes, in principle you can do references in FontForge. I'm not sure why we've never done that with our fonts.

[2016-03-24 10:36] KrasnayaPloshchad commented on #5
This will making the maintance easier. If you are using one glyph reference to other related glyphs, when you making a modification, other glyphs would immediately following this revision.

[2016-03-31 06:32] typiconman commented on #5
@KrasnayaPloshchad @starover77 Please review. I added kerning data, mappings in SALT table. Also added a variant of U+040E at U+E37B. Added Graphite feature altu. Please make sure everything works OK.

[2016-03-31 08:19] KrasnayaPloshchad commented on #5
OK, it’s good. I generated an OTF font file to test. BTW I think you can using glyph reference for any other accented letters, this would reduce the concentration for future maintance.
[1](http://chuantu.biz/t2/45/1459411425x3340469574.png)
[2](http://chuantu.biz/t2/45/1459411754x3340469574.png)

[2016-03-31 16:52] typiconman opened #6 "Change shape and position of hyphenation char"
A user reports:
Символ переноса надо подправить. Он выглядит слишком длинным. Похоже что создатели шрифта делают знак подчеркивания длиной "em". Хотелось бы длину "en" или около того (сравните картинку с моим PDF). Также его поднять бы немного - а то он заметно ниже базовой линии...
![image](https://cloud.githubusercontent.com/assets/5428695/14183649/5e52ebf2-f782-11e5-9c77-8bdcd5b4dc90.png)

[2016-03-31 17:41] typiconman commented on #6
@starover77 Please comment.

[2016-03-31 18:18] starover77 commented on #6
I looked at the character outlines for Ponomar Unicode in FontForge. I agree that the Slavonic hyphen should be narrower (en-width) and rest directly on the baseline. However, the default hyphen should remain as it is, so that it may work correctly with the base Latin character set. I suggest that we use a Stylistic Set for the proper shape of the Slavonic hyphen.

(Also note that the sample image

[2016-03-31 18:21] pgmmpk commented on #6
Just to make this thread complete. Here is how hyphenation in PonomarUnicode looks presently:

![image](https://cloud.githubusercontent.com/assets/569458/14186328/d20e794e-f74b-11e5-9bbb-6ed68073e446.png)

[2016-03-31 18:36] typiconman commented on #6
From Unicode Standard (page 267 of version 8), looks like U+2010 HYPHEN is actually narrower than an En-Dash. And U+002D HYPHEN-MINUS is "average width".

@starover77 : I agree that U+2010 HYPHEN and U+002D HYPEN MINUS should be hyphens and that U+005F LOW LINE should be the underscore, but sit on the baseline as @pgmmpk suggests, not below it, as we have now.

In TeX, we can specify that U+005F i

[2016-03-31 18:36] starover77 commented on #6
Perhaps I am mistaken, but I see the underscore character being used as a hyphen. I just tried to hyphenate a word in LibreOffice, and I got "благо-дать" as opposed to "благо_дать". Am I doing something wrong? I understand that the Slavonic hyphen is supposed to look like an underscore, but in order to function properly, we shouldn't be using an underscore glyph instead of an actual hyphen glyph.

[2016-03-31 18:39] typiconman commented on #6
@starover77 No, I disagee. I think the underscore should be used for hyphenation in Church Slavonic and the hyphen should be left alone. U+002D is not really a hyphen anyway, but rather a minus sign / hyphen. It shouldn't sit on the baseline. I don't know about U+2010. I think there should be a way to force LibreOffice to use U+005F LOW LINE (underscore) as the hyphenation character. @pgmmpk pleas

[2016-03-31 18:44] starover77 commented on #6
OK, I will leave it to your expertise. I haven't been involved with the level of inner mechanics for how the fonts work, so I can't really weigh in on the subject as an informed consultant. I can only remark on what I see visually, and whether it works or not.

[2016-03-31 18:51] typiconman commented on #6
We'll have to figure out how hyphenation in LO works first. Regarding the visual look, I think the text posted by @pgmmpk looks a little mechanical (compare with the actual example in the first picture), especially when there are three hyphens in a row (last three lines). It disturbs the eye as very computerized. Perhaps having different-sized hyphens in PUA and letting the software select them vi

[2016-03-31 18:57] pgmmpk commented on #6
@starover77 My sample was generated by LaTeX, not LibreOffice. In LaTeX I defined U+005F as a symbol used to draw hyphenation marks. I can as easily define any other character, available in the font.

@typiconman Even though changing the shape of font's glyph U+002D will "solve" LibreOffice problem, I am not sure its the right solution. I will leave it to you to decide the mechanics.

About varyin

[2016-03-31 19:17] starover77 commented on #6
I am in agreement with Mike. Variable length hyphenation seems like overkill.

In the historical approach to typesetting texts, there has always been a human element to provide a critical eye, and to "massage" the texts to avoid visually unaesthetic problems before printing books. Extra spaces or ligatures were inserted at the discretion of the typographer to resolve issues. However, in these days

[2016-04-01 06:35] typiconman commented on #5
OK. If there are no further comments, we will consider this fixed.

[2016-04-01 08:57] KrasnayaPloshchad commented on #5
I think this is fixed.
@starover77 WDYT?

[2016-04-01 09:22] KrasnayaPloshchad opened #7 "Ponomar Unicode should provide bold face"
Seem from [part1_vigil.pdf](http://ponomar.net/files/part1_vigil.pdf), I found several texts also uses Church Typeface, but it looks bolded, especially on page 3: ВЕЧЕ́РНѦ, ОꙊ҆́ТРЕНѦ. It is possible of creating Ponomar Unicode Bold font to implement this face?

[2016-04-01 13:42] starover77 commented on #5
It looks fine to me.

[2016-04-01 13:49] starover77 commented on #7
What you are seeing on page 3 is not bold text. You are seeing two different point sizes. Hypothetically speaking, you are seeing a mixture of 10 point text with 12 point text.

[2016-04-01 13:51] #5 closed

[2016-04-01 15:19] KrasnayaPloshchad commented on #5
👏

[2016-04-03 11:23] KrasnayaPloshchad commented on #6
I have heard XeTeX using HarfBuzz for OpenType layout, so I think using Xe(La)TeX can get better results when you want to get sample or test.

[2016-04-05 06:03] typiconman commented on #6
Regarding the use of the hyphenation character in LibreOffice, I have confirmed that LO does not allow a user to choose a different hyphenation character. It is a bug:
https://bugs.documentfoundation.org/show_bug.cgi?id=85731

[2016-04-05 13:49] typiconman commented on #6
Fixed.

[2016-04-05 13:49] #6 closed

[2016-04-07 08:25] KrasnayaPloshchad commented on #7
Please see this sample, I made the comparation via Windows Paint.
![Sample](https://i.imgur.com/kxtfqgg.png)

[2016-04-07 08:25] #7 closed

[2016-04-08 04:09] KrasnayaPloshchad commented on #5
This design get the appriciate result when I used to browsing the following pages:
https://en.wikipedia.org/wiki/Cyrillic_script
https://en.wikipedia.org/wiki/Early_Cyrillic_alphabet

[2016-04-08 04:14] KrasnayaPloshchad commented on #7
I have no idea for whether this issue should reopened, because I found the text МОСКВА̀ looks sightly bolded on the cover, but I’m not sure for my discovery.

[2016-04-08 05:50] typiconman commented on #7
Actually, I think that it is possible that a bolded Slavonic typeface exists in some publications (though it certainly wouldn't be traditional). And there may eve be good technical reasons to create one (it would be better than the "bolding" features of various software). However, because it is not used in standard publications and since we have very limited resources, it is not something we will

[2016-04-14 14:18] typiconman commented on #2
Fixed.

[2016-04-14 14:18] #2 closed

[2016-04-27 17:55] KrasnayaPloshchad commented on #4
OK, I understand since I got UTN No.41. I was got inspired by English Wikipedia “[Early Cyrillic alphabet](https://en.wikipedia.org/wiki/Early_Cyrillic_alphabet)” before I report, the alphabet table seems in ustav, but the images looks like synodal styled face.

[2016-04-28 11:08] starover77 commented on #4
I'm sorry, but Wikipedia is not an academically accepted source of reliable information.

We have discussed this topic in the past, and we decided that further discussion is closed. Our decision was: Archaic Cyrillic letters will be added to Ustav style fonts, but they will not be added to Synodal era fonts because to do this would create an anachronism and will allow uneducated users to use (i.e.

[2016-04-29 09:28] #1 closed

[2016-04-29 09:28] typiconman commented on #1
Fixed.

[2016-04-29 09:30] typiconman commented on #3
Too complicated to fix, so I'm bumping this to the next release.

[2016-05-03 14:34] KrasnayaPloshchad commented on #4
OK, I think Wikipedia article should be improved, reflect more ustav-era tradition would be better, and the images should be replaced, which should be done after new Menaion Unicode released.

[2016-05-12 13:26] KrasnayaPloshchad commented on #3
You can try to create a branch repo for this work, then other people can help.

[2016-10-11 00:13] tuffnatty opened #15 "Store sfdir in git repository"
I think that storing the font as separate glyph files in a .sfdir instead of a single huge .sfd file would be much better for tracking revision history and for clean git merging (if you are going to accept 3rd party contributions).

[2016-10-11 01:03] tuffnatty opened #16 "Menaion Unicode: extraneous Diacritic Mark anchor in uni00CB"
As per title

[2016-10-11 06:18] typiconman commented on #15
That sounds like a good idea.

[2016-10-11 06:20] typiconman commented on #16
I don't think it's extraneous, I think it's just mispositioned. A user could, in principle, want to place another diacritical mark on top U+00CB. It would just need to stack above the diaeresis.

[2016-10-11 09:06] tuffnatty commented on #16
it is a MARK anchor, not a BASE anchor

[2016-10-11 11:03] typiconman commented on #16
Oh, OK. I will fix it. Thanks.

[2016-10-12 00:35] starover77 commented on #15
It seems like a good idea, but I tend to think that it will be incredibly confusing and cumbersome to have a separate file for every single glyph in the font, especially considering that I am currently adding about 300-400 new Slavonic glyphs in the PUA. (These new additions represent the fullness of the Ustav and Poluustav handwriting traditions and conventions -- a series of subtle features and

[2016-10-12 15:07] tuffnatty commented on #15
I meant the standard sfdir format of FontForge. You'll notice almost no difference from FontForge user perspective.

[2016-10-14 09:38] KrasnayaPloshchad opened #17 "Ponomar Unicode: Big Yus has bad hinting"
I found Big Yus has bad hinting in Ponomar Unicode on [this page](http://www.ponomar.net/files/gama2/p010.htm), when I enlarge in bigger size the problem seems disappeared. But when I resize in 100% it was appearing again.
![default](https://cloud.githubusercontent.com/assets/10364351/19382957/f8460e18-9234-11e6-81c2-8615b6b21b9b.PNG)

[2016-10-14 11:14] starover77 commented on #17
I am puzzled. I am not having any problems with hinting on my computer, zooming in and out. I am using Linux Mint 18.

[2016-10-14 13:09] KrasnayaPloshchad commented on #17
OK it was disappeared when I delete a OTF version of the font, which is generated by myself 6 months ago when I try to test new design of У, it’s no problem for me. BTW I think the right curly bracket on this page can be redesigned using [Miscellaneous Technical](https://graphemica.com/blocks/miscellaneous-technical) characters.
[code]

[2016-10-15 06:24] typiconman commented on #17
Thanks, I implemented your suggestion for the bracket. It looks much better!

[2016-10-15 06:24] #17 closed

[2016-10-15 14:09] KrasnayaPloshchad commented on #15
I think remake some characters by insert glyph reference(s) is enough, it would also reduce size of source code, also would generate lighter font file.

[2016-10-16 10:55] typiconman commented on #15
@KrasnayaPloshchad :+1:

[2016-10-24 07:12] typiconman opened #18 "Indiction Unicode fails validation on OS X"
User report that Indiction Unicode font fails to install with validation errors on Mac OS X 10.

<img width="776" alt="indiction" src="https://cloud.githubusercontent.com/assets/5428695/19636511/c8f39b96-99da-11e6-975a-b367dd7d618a.png">

Unable to confirm, as I have no access to OS X.

[2016-10-24 17:59] typiconman commented on #18
This should be fixed by d8366280e307ca9e4a0042915c6c715a95c9eeaf.

[2016-10-24 18:00] #18 closed

[2016-10-31 01:49] KrasnayaPloshchad commented on #3
Recently OpenType specification introduced OpenType Variation technology, does it help?

[2016-10-31 05:50] typiconman commented on #3
I suppose you could use the Variations to create expanding widths of the titlo glyph.
https://medium.com/@tiro/https-medium-com-tiro-introducing-opentype-variable-fonts-12ba6cd2369#.3pn2hj1m8
However, this is still very low priority on the list of things to support.

[2016-11-03 07:29] typiconman commented on #16
Fixed.

[2016-11-03 07:29] #16 closed

[2016-11-07 07:10] KrasnayaPloshchad opened #19 "Ponomar Unicode: Combining Cyrillic Thousand Millions Sign has wrong positioning to ы"
On [Изображение славянских чисел](http://www.ponomar.net/files/gama2/p005.htm) I found Combining Cyrillic Thousand Millions Sign does not work with ы in Ponomar Unicode.

[2016-11-07 10:26] typiconman commented on #19
It's a bug.

[2016-11-07 12:48] typiconman commented on #19
I believe that this is now fixed.
We have resolved a number of bugs in the last few months, updated the PUA Policy (see here: http://www.ponomar.net/files/pua_policy.pdf), and added a new font (Monomakh), so I think it is time for a release.
@KrasnayaPloshchad @starover77, and others please take a look and make sure there are no problems. If there are no problems, I will formally release all of th

[2016-11-07 12:48] #19 closed

[2016-11-07 14:22] KrasnayaPloshchad commented on #19
OK, they are good.

[2016-11-12 15:00] KrasnayaPloshchad commented on #19
Also, in font-churchslavonic.pdf section 7.3.3, OpenType does not have `loca` feature tag, instead is `locl`.

[2016-11-20 10:50] typiconman commented on #19
Fixed with e8c7c22f4903a8de6f87008f661fd6558e604f71.

[2017-01-09 00:28] pgmmpk opened #20 "Monomakh: wrong metrics or kerning for cyrillic letter д"
In some words letter д seem to be shifted right

<img width="196" alt="screen shot 2017-01-08 at 7 26 35 pm" src="https://cloud.githubusercontent.com/assets/569458/21754952/6d8852bc-d5d8-11e6-9cf9-e26827526835.png">

<img width="122" alt="screen shot 2017-01-08 at 7 25 40 pm" src="https://cloud.githubusercontent.com/assets/569458/21754941/4884b6ea-d5d8-11e6-8687-c61538c9f874.png">

[2017-01-09 07:35] typiconman commented on #20
It looks like the OpenType version of the font is over-kerned in some instances.

[2017-01-14 16:20] pgmmpk opened #21 "MonomakhUnicode font badly broken on print media"
PDF created with MonomakhUnicode looks good on computer, but when printing glyphs come out 2x larger than they should.

This problem does not happen with PonomarUnicode font. Nor does it happen with the original Monomachus font.

Here is the broken PDF:
[epiphany-ru.MonomakhUnicode.pdf](https://github.com/typiconman/fonts-cu/files/706040/epiphany-ru.MonomakhUnicode.pdf)

It prints like this:
![img

[2017-01-14 16:51] pgmmpk opened #22 "MonomakhUnicode: Latin characters are significantly wider"
When typesetting Cyrillic and Latin using MonomakhUnicode font, latin glyphs look too wide, comparing to the surrounding Cyrillic text.

To equalize style I had to artificially shrink the font by factor 0.87 to make Latin text look
more consistent with the Cyrillic one.

I believe we should change the font to make Latin and Cyrilic widths visually compatible.

Example:
[x.pdf](https://github.com/t

[2017-01-14 17:52] typiconman commented on #22
The font metrics should be the same as in the original Monomakh. Can you confirm that the text looks the same in Monomakh and in Monomakh Unicode?

[2017-01-14 17:57] typiconman commented on #21
That's very weird. Right now I don't have a printer to try to reproduce the problem. Maybe it's an issue with the OS/2 table ...

[2017-01-14 18:20] pgmmpk commented on #22
Original Monomachus font has exactly the same problem - latin glyphs too wide.

[2017-01-14 18:21] pgmmpk commented on #21
If you have an idea how to troubleshoot it further, I can try doing it over here. Is not PDF supposed to look same on any media? Weird indeed...

[2017-01-14 18:22] typiconman commented on #22
So then this is a design issue rather than a bug. We would have to redesign the Latin characters.

[2017-01-14 18:24] typiconman commented on #22
I put wontfix because it's too much work, but if someone would like to work on it, great.

[2017-01-14 18:26] typiconman commented on #21
Does the same problem occur both in the OpenType and TrueType versions of the font?

[2017-01-14 18:27] pgmmpk commented on #21
Yes, in both

[2017-01-14 18:28] pgmmpk commented on #21
<img width="775" alt="screen shot 2017-01-14 at 1 25 43 pm" src="https://cloud.githubusercontent.com/assets/569458/21957084/4b3f1d60-da5d-11e6-865d-2f0410b8a81c.png">

<img width="770" alt="screen shot 2017-01-14 at 1 26 39 pm" src="https://cloud.githubusercontent.com/assets/569458/21957087/53f3a174-da5d-11e6-8715-7de1328e67a1.png">

[2017-01-14 18:30] pgmmpk commented on #21
This is unrelated, but FontForge gives the following warning when opening MonomakhUnicode:

![image](https://cloud.githubusercontent.com/assets/569458/21957100/9ee273b8-da5d-11e6-809f-46bfd8fe5c84.png)

[2017-01-14 18:37] typiconman commented on #21
Looks like the metrics in the OS/2 table got almost doubled. Maybe that is why the problem is occurring? Can you try the attached file?

[2017-01-14 18:39] pgmmpk commented on #21
Please, post the attachment

[2017-01-14 18:39] typiconman commented on #21
Sorry, GitHub won't let me attach. Try here:
http://www.ponomar.net/files/MonomakhUnicode.zip

[2017-01-14 18:52] pgmmpk commented on #21
No luck - still prints Huge letters.

Additionally, now glyphs in FontForge look much bigger.

I noticed that in the General tab Em Size is much bigger than in the original...

<img width="783" alt="screen shot 2017-01-14 at 1 48 19 pm" src="https://cloud.githubusercontent.com/assets/569458/21957249/8397baac-da60-11e6-9733-de3694dd6727.png">

<img width="785" alt="screen shot 2017-01-14 at 1 49 13

[2017-01-14 19:06] pgmmpk commented on #21
Aleksander,

you are on the right track. I did some changes (not really understanding what I am doing) and
now it looks and prints correctly.

I think I did this:

1. In the OS/2 Metrics tab I also changed X height and Capital Height values to match Monomachus
2. In the General I switched to 1000 Em Size (because font export gave me warning).

[2017-01-15 18:13] typiconman commented on #21
I was not able to reproduce your error: your file epiphany-ru.MonomakhUnicode.pdf prints just fine (using Adobe Reader on Windows XP). What platform are you using?

That said, I will change the metrics in MonomakhUnicode to match the metrics in Monomachus. I probably won't get around to it until tomorrow, though.

[2017-01-15 20:33] pgmmpk commented on #21
Double-checked the PDF file. Yes, reproduces here.

macOS Sierra 10.12.2, printing from default "Preview" application or from Chrome built-in PDF viewer

Printer: Brother MFC 7460DN

Installed Acrobat Reader. From there prints incorrectly - broken even worse:

![img_20170115_152952](https://cloud.githubusercontent.com/assets/569458/21965951/cd726b7c-db37-11e6-8dfb-c4fa103211af.jpg)

[2017-01-16 16:34] typiconman commented on #21
I am confused as to what is going on. When I open the version of the Monomachus font that is stored in the repository here:
https://github.com/akryukov/monomachus
I see the same metrics, as in Monomakh Unicode:
![screenshot from 2017-01-16 19 29 58](https://cloud.githubusercontent.com/assets/5428695/21991116/c9507ee6-dc2a-11e6-9ce3-5ee63092e9ee.png)

![screenshot from 2017-01-16 19 32 22](https://

[2017-01-17 00:04] pgmmpk commented on #21
Curiouser and curiouser...

Loaded Monomachus.sfd into FF on Mac:
<img width="625" alt="screen shot 2017-01-16 at 7 01 02 pm" src="https://cloud.githubusercontent.com/assets/569458/22003011/7272d224-dc1e-11e6-8ead-1a6e32f68d3e.png">

<img width="782" alt="screen shot 2017-01-16 at 7 01 35 pm" src="https://cloud.githubusercontent.com/assets/569458/22003018/7ac90d9e-dc1e-11e6-81bb-8d34f64a186b.png">

[2017-01-17 00:26] pgmmpk commented on #21
Eureka!

Contents of `monomachus-generate.py` in monomachus directory is below.
Things to notice:

1. SFD file is used to generate WOFF file (as-is). On top of this:
2. For OTF and TTF `encoding` is set to "mac"
3. For OTF "em" is set to 1000
[code]

[2017-01-17 07:36] typiconman commented on #21
Can you try with the file that I e-mailed you? I changed the em-size to 1000 for the OTF and 1024 for the TTF.

[2017-01-17 16:30] pgmmpk commented on #21
All fixed. Tried MacOs' "Preview" and "AcrobatRerader". Both print nicely.

See snapshots below. Thank you for fixing this!

Acrobat:
![img_20170117_112828](https://cloud.githubusercontent.com/assets/569458/22029346/3e71211c-dca8-11e6-92cc-f077f8b0f31e.jpg)

Preview:
![img_20170117_112801](https://cloud.githubusercontent.com/assets/569458/22029347/3e74c948-dca8-11e6-8618-3c0a20750a07.jpg)

[2017-01-17 16:56] pgmmpk commented on #21
Forgot to mention: the above experiment was for OTF fonts.

TTF versions also print cleanly and nicely.

[2017-01-18 00:54] pgmmpk commented on #20
Here is a list of all non-zero kerns in MonomakhUnicode, with matching samples from `cu-tex`'s `words.txt` list.

Words in `words.txt` list were processed as such:
1. accents stripped off
2. Uppercased version of word generated
3. Capitalized version of word generated
4. letter pairs extracted and matched to the font's kern pairs
5. for each kern collected up to 10 words that have such a pair in t

[2017-01-18 01:30] starover77 commented on #20
I have been following this discussion, but so far have had nothing to contribute. I would like to point out that the practice of kerning is completely anachronistic for Church Slavonic scripts, with the possible exception of combinations like "Та, Ги" (and even so, most printed sources I have in my large library do not use any form of kerning). I would sincerely encourage people to avoid using ker

[2017-01-18 02:32] pgmmpk commented on #20
Interesting view, thank you @starover77

As an experiment, here is the same "kern table" but typeset with the font where all kerning has been removed.

Amazingly, many sample look good without any kerning.

That said, MonomakhUnicode font does not attempt to mimic any historic look'n'feel. Quite the opposite -- it has intentionally "modern" look. My guess is that the point is to make it

1. more f

[2017-01-18 02:39] starover77 commented on #20
The version without kerning looks much better to me.... more organic, legible and flowing. The version with kerning introduces a "tightness" (or a "pinched" quality) that is uncharacteristic of period texts.
- Nikita

[2017-01-18 12:00] typiconman commented on #20
I believe that this issue is now fixed. Please test, and let me know if there are any further problems.

[2017-01-18 12:30] typiconman commented on #20
Question: is there a way to automatically update the website once the fonts are build in the fonts repository?

[2017-01-18 12:32] typiconman commented on #20
@pgmmpk Regarding the kerning: the De pairs are clearly over-kerned and need to be fixed, as are the other pairs you point out.
@starover77 While I understand your opposition to kerning, Monomakh is not an authentic period typeface and does not seek to reproduce one. It should have the accepted kerning features of modern fonts.

[2017-01-19 07:59] typiconman commented on #21
Sorry, I referenced the wrong issue.

I believe that *this* issue is now fixed. Please test, and let me know if there are any further problems.

[2017-01-19 08:00] typiconman commented on #21
@pgmmpk Question: is there a way to automatically update the website once the fonts are built in the fonts repository?

[2017-01-19 08:12] typiconman commented on #20
@pgmmpk Can you test the kerning in your sample files again, please. I reduced the specified kerning for these cases by 50%.

[2017-01-19 08:15] typiconman commented on #20
@pgmmpk Again GitHub will not let me attach the ZIP, so I will e-mail you the font file. Or you can build from source.

[2017-01-19 20:12] pgmmpk commented on #20
[MonomakhUnicode.zip](https://github.com/typiconman/fonts-cu/files/717644/MonomakhUnicode.zip)

Just for the reference, attached ZIP with the test font version that @typiconman mentioned above.
[Strangely, I have no problems selecting ZIP files and attaching them, hmm...]

I realized that some kern pairs did not have any samples (e.g. ду), for the simple reason that I was using Church Slavonic wor

[2017-01-19 20:15] pgmmpk commented on #21
No, I do not know how to auto-update sci website. Lets do it manually for now, until it gets too annoying...

Yes, I believe issue is fixed. Please, update the repo and release a fixed version of fonts. Closing the issue

[2017-01-19 20:15] #21 closed

[2017-01-23 15:14] KrasnayaPloshchad opened #23 "Ponomar: Stylish alternates seems not work with Firefox"
I have used the same code to test Edge and Firefox, then I found the problem.
[code]
![1](https://cloud.githubusercontent.com/assets/10364351/22209494/abf4e232-e1c1-11e6-911a-38515182f1bc.PNG)
![2](https://cloud.githubusercontent.com/assets/10364351/22209472/911e408e-e1c1-11e6-9df1-7850ca3ab37c.PNG)

[2017-01-23 16:24] typiconman commented on #23
Are you sure this is not a problem with the browser?

[2017-01-23 19:50] KrasnayaPloshchad commented on #23
I have tested again with both OTF and TTF version of the font, and tested with Chrome 55.0 and LibreOffice 5.3.0.2, then I’m clear what’s wrong with me.

On Firefox 51.0 and LibreOffice 5.3.0.2, when I try TTF font, `ss02` and `salt` features failed even if I indicate Church Slavonic language, but on Edge and Chrome 55.0 everything works.
When I try to use OTF font, everything works with me, but I

[2017-01-25 10:54] typiconman commented on #20
@pgmmpk: I updated the kerning in the cases you mentioned and a few others.

Please see if there are any further issues. I will send you a binary of the font via e-mail shortly.

If there are no further problems, I will then update the SIL Graphite version of the kerning, and then we can mark this as resolved.

[2017-01-25 10:56] typiconman commented on #23
Can we say then, that this is a problem with the software and not with the font? I think browsers do not completely support optional features such as `salt`.

[2017-01-26 02:51] KrasnayaPloshchad commented on #23
Since `salt` and `ss02` features performanced the same on Firefox and LibreOffice 5.3, I think this is a bug in those softwares that cause the conflict between Graphite and OpenType layout.

[2017-01-29 22:55] pgmmpk commented on #20
Latest test file is attached.

I see no problems with the latest version of the font. Lets release it.

[kern-test.pdf](https://github.com/typiconman/fonts-cu/files/737883/kern-test.pdf)

[2017-01-31 07:37] typiconman commented on #20
I updated the kerning in the Graphite version (see 884d2b21954f55aeafa8d75597a6111aca512e37)
I believe this is now fixed. I will build the new distro and send it to you.
Please update the website.

[2017-01-31 07:37] #20 closed

[2017-01-31 07:43] typiconman commented on #23
The Graphite features are only available in the TT font. If you are working with the OTF font, you only have the OpenType features.

[2017-02-02 18:02] KrasnayaPloshchad commented on #23
I know what’s wrong with Ponomar Unicode TT. Recently I found LO has a bug related to this problem in their Bugzilla.
https://bugs.documentfoundation.org/show_bug.cgi?id=105516
According to their developer Graphite or AAT layout would become number one priority then OpenType when a font has related tables.

[2017-02-16 12:05] typiconman commented on #23
As the comment on that bug report says,

[2017-03-06 13:45] typiconman commented on #15
@tuffnatty: One of the problems is the fact that some of the scripts we use to build fonts rely on the SFD format. For example, sfd2ap. We would have to rewrite the build sequence.

[2017-03-07 12:32] typiconman commented on #15
Actually, I am thinking about converting to UFO format:
http://unifiedfontobject.org/
It is supported by FontForge, but seems to be a better idea in the long run in terms of storage. It will also allow us to interact with other font design applications.

@starover77 and others, please comment on this proposal.

[2017-03-07 13:23] starover77 commented on #15
It seems to have potential, but my life is too busy right now for me to take on learning another coding project. After glancing over the UFO project, I did notice that there is the possibility of color designation, which would be greatly beneficial for use with neumatic musical notations. If you can figure this system out and make it work for us, and then present it to us in an easy-to-understand

[2017-03-16 22:13] tuffnatty opened #24 "Monomakh Unicode TT: all splines garbled under Windows 10"
It works well for me in XP, 7, and OS X, but after installing under Windows 10 all splines looked awful; sadly I had no chance to make a screenshot. The .otf version worked well.

[2017-03-16 22:16] tuffnatty opened #25 "Some problems with Menaion and Monomakh fonts"
While typesetting an article using your excellent font collection, I encountered some problems which are best described [here](http://newstar.rinet.ru/~phil/menaion-monomakh-bugs.pdf).

[2017-03-17 12:30] typiconman commented on #24
I cannot test this, as I have no access to Windows 10.

[2017-03-17 12:33] typiconman commented on #25
Copying the file into this thread.

[menaion-monomakh-bugs.pdf](https://github.com/typiconman/fonts-cu/files/850524/menaion-monomakh-bugs.pdf)

[2017-03-19 04:38] KrasnayaPloshchad commented on #24
@typiconman You can get a VM from here if you want to access Windows 10:
https://dev.windows.com/zh-cn/microsoft-edge/tools/vms/

[2017-04-13 22:25] MakGreg opened #26 "PonomarUnicode: некорректное отображение макрона над ѱї в составе сложных титл."
Здравствуйте!
При использовании сложного титла, включающего в себя на обоих концах оного символы Combining Cyrillic Titlo Left Half (U+FE2E) и Combining Cyrillic Titlo Right Half (U+FE2F) соответственно, к каждому из которых примыкает символ Combining Conjoining Macron (U+FE26), соединения указанных двух макронов между собою не происходит, аще первый макрон поставлен над Cyrillic Small Letter Psi

[2017-04-14 06:43] KrasnayaPloshchad commented on #26
I also tested Ponomar Unicode TT on LibreOffice 5.3, works for me. I suggest Combining Conjoining Macron should be longer, or adding some contextual alternetes for it. Also, its position should be adjusted.

![default](https://cloud.githubusercontent.com/assets/10364351/25035433/41740494-2120-11e7-98e1-c1b97b1684d4.PNG)

[2017-04-14 09:50] MakGreg commented on #26
Эта проблема возникает и в других случаях.
![img_2208](https://cloud.githubusercontent.com/assets/3963468/25040144/49880ff0-2110-11e7-9e25-7e495b1c9fe7.PNG)
[а︮б︦ѱ︦ѯ︦ѱ︦б︦а︯]

[2017-04-14 19:06] typiconman commented on #26
Yes, this is a known bug. See issue #3.

[2017-04-14 19:09] typiconman commented on #26
Closing this issue. Please put comments in issue #3.

[2017-04-14 19:09] #26 closed

[2017-04-15 14:36] KrasnayaPloshchad opened #27 "Updating documentation for OpenType related informations"
LibreOffice 5.3 released in Feb 2017, which give users an ability to access OpenType features, and making Graphite layout works on macOS, so the documention should be updated to reflect such changes.

[2017-04-16 17:28] typiconman commented on #27
I updated the doc. @KrasnayaPloshchad, please comment.
For convenience, the latest version is attached.
[fonts-churchslavonic.pdf](https://github.com/typiconman/fonts-cu/files/924445/fonts-churchslavonic.pdf)

[2017-04-17 04:07] KrasnayaPloshchad commented on #27
Yes, I reviewed them, and I feel satisfied. Additionaly, I also found LibreOffice have a environment variable can be used to disable Graphite layout: `SAL_DISABLE_GRAPHITE` (see [TDF Wiki](https://wiki.documentfoundation.org/Development/Environment_variables) and [SIL website](http://scripts.sil.org/cms/scripts/page.php?site_id=projects&item_id=graphite_apps)), can you add the instruction into sec

[2017-04-17 14:50] typiconman commented on #27
I tried setting `SAL_DISABLE_GRAPHITE` on Linux Mint, but it does not seem to do anything with LibreOffice 5.3. Is it only supported in Windows?

[2017-04-17 15:20] KrasnayaPloshchad commented on #27
Sorry, I don’t know how to set that.

[2017-04-17 15:42] KrasnayaPloshchad commented on #27
Sorry, I have no idea how to use it on Windows.

[2017-04-17 16:32] KrasnayaPloshchad commented on #27
I have found MS Office allowing stylisitc sets, see [this attachment](https://bugs.documentfoundation.org/attachment.cgi?id=73540&action=edit) at TDF Bugzilla.

[2017-04-18 07:37] typiconman commented on #27
Unfortunately, I have no way to test MS Office.

Regarding the `SAL_DISABLE_GRAPHITE` environmental variable, since I cannot get it to do anything, I don't see a need to mention it in the doc. Perhaps since LO has transitioned to using HarfBuzz, this is not supported anymore?

[2017-04-18 08:29] typiconman commented on #27
I added a mention of MS Word in commit df5dcdcef7a1dc37410ff1960276a02f07796b2d. I hope it is correct, since I have no way to test.

[2017-04-18 08:31] #23 closed

[2017-04-18 08:34] typiconman opened #28 "Font documentation should be internationalized"
It would be good to have documentation in Russian.

But right now I do not have time to work on it. This is a useful task if somebody else would like to get involved.

[2017-04-18 15:51] KrasnayaPloshchad opened #29 "Updating documentation for Unicode related informations"
The documentation have mentioned “Please note that combining Glagolitic letters (Glagolitic Supplement) will become available in Unicode 9.0”, but Unicode 9.0 is already released more than a half year ago. Please update the documentation.

[2017-04-18 19:54] typiconman commented on #29
Good point. I'll take care of it.

[2017-04-20 14:50] KrasnayaPloshchad commented on #27
That’s right. I have used MS Office 2013 several years ago, and I have used Font Feature options, they works well for me after I added English languge pack. But I have no longer used it and later I uninstalled it over 1 years ago since it become extremely huge for me (it takes nearly half of my C: drive after several updates from Windows Update, even if I used CCleaner), so I can only help you her

[2017-04-20 14:53] typiconman commented on #27
So I think that we can consider this issue to be resolved?

[2017-04-20 14:58] KrasnayaPloshchad commented on #27
Yes.

[2017-04-20 14:59] typiconman commented on #29
Fixed. See updated doc (attached).
[fonts-churchslavonic.pdf](https://github.com/typiconman/fonts-cu/files/943828/fonts-churchslavonic.pdf)

[2017-04-20 15:00] #27 closed

[2017-04-20 15:12] KrasnayaPloshchad commented on #29
Alright.

[2017-04-20 15:46] #29 closed

[2017-05-07 18:57] typiconman commented on #25
I started to work on this. I think I've resolved the issues with the rtsy and the Uk in Monomakh. I will work on this some more over the next few days.
![untitled](https://cloud.githubusercontent.com/assets/5428695/25784071/342c581a-3370-11e7-92f0-ec89f5ef97c3.png)

[2017-05-08 07:23] typiconman opened #30 "In Menaion, U+1E028 has wrong glyph"
User reports that glyph for U+1E028 Combining Glagolitic Letter Big Yus has the wrong appearance.

![unnamed](https://cloud.githubusercontent.com/assets/5428695/25794132/5abc3df2-33d8-11e7-8d6f-1fc4d035d932.png)

[2017-05-08 11:01] typiconman commented on #25
The correct positioning of double titlos is something that is difficult to do. Consider these examples:

д͠ш <-- here the titlo needs to shift right of center
ш͠д <-- here the titlo needs to shift left of center
ш͠ш <--- here the titlo is exactly centered (the only case that currently works correctly).

This is also related to issue #3

Thus I am inclined to not support double titlo positioning. T

[2017-06-07 18:41] typiconman commented on #25
I think this issue is now resolved. @tuffnatty can you verify? A fresh version of Menaion and Monomakh are attached.
[MenaionUnicode.zip](https://github.com/typiconman/fonts-cu/files/1058972/MenaionUnicode.zip)
[MonomakhUnicode.zip](https://github.com/typiconman/fonts-cu/files/1058974/MonomakhUnicode.zip)

[2017-06-07 19:14] typiconman commented on #30
This is now fixed.

[2017-06-07 19:14] #30 closed

[2017-06-11 16:52] KrasnayaPloshchad opened #31 "Adding Scribus into documentation"
Recently I found Scribus announced 1.5.3 release which bring OpenType support to users, I think you can add informations into the documentation if users want to using your fonts to make publishions with it. Also, you can mention it on SCI website.

[2017-06-12 02:16] KrasnayaPloshchad commented on #31
CC @starover77

[2017-11-02 16:40] aleslavista opened #32 "Superscript Glagolitic not working in Menaion"
Hello,

In LibreOffice Writer 5.4.1.2, Menaion Unicode (both ttf and otf) doesn't display properly Glagolitic superscript characters, while Cyrillic superscript does work.

See attachment
![superscript](https://user-images.githubusercontent.com/33322424/32338412-ebbae0ee-bff4-11e7-87ed-65ef653aaaa0.png)
.

Regards,

[2017-11-02 17:39] typiconman commented on #32
I can confirm the bug, but I'm not sure why it happens. The positioning works correctly in Firefox and XeTeX.

Needs to be investigated further.

[2017-11-06 10:48] typiconman commented on #32
I think the issue is with LO, which seems to offer no support for Glagolitic:
![test](https://user-images.githubusercontent.com/5428695/32437676-27991df4-c2f9-11e7-8c9e-d3bd783f89c6.png)

It sounds like a bug against LO. The offending file may be here:
https://gerrit.libreoffice.org/gitweb?p=core.git;a=blob;f=i18nutil/source/utility/unicode_data.h;h=bae66cd3f7b87d8b484f5f3431d82f567722e310;hb=HEAD

[2017-11-19 05:31] KrasnayaPloshchad commented on #32
LibreOffice seems having a bug that affect handling Unicode properties, because I have found LibreOffice failed to make Tangut and Yi (Nuosu) characters rotated in vertical layout, so I think this Glagolitic may have also been affected by this.

[2017-12-24 18:31] typiconman commented on #32
I filed an bug report for LibreOffice:
https://bugs.documentfoundation.org/show_bug.cgi?id=96343

[2017-12-24 18:31] #32 closed

[2018-01-01 08:53] Mwvceu opened #33 "Problems with kerning in Ponomar Unicode"
**vo** far from **zdv** (for example, in the word vozdvijenie)
![vozdvijen](https://user-images.githubusercontent.com/6507354/34466595-4e8f8cf0-eeea-11e7-9ead-ac68a109dd5f.png)

[2018-01-01 09:46] typiconman commented on #31
So, I decided to try Scribus. (I couldn't get version 1.5.3 to install, so I tried version 1.5.1 on Linux Mint).

There is no way to specify "Church Slavonic" as a language and install a hyphenation dictionary. However, I "hacked" it by renaming the Church Slavonic hyphenation dictionary to hyph_en.dic and just leaving the language as English. Not a very elegant solution, but it does get hyphenati

[2018-01-01 16:12] KrasnayaPloshchad commented on #31
OK I got Scribus 1.5.3, which is the minimium version thst support OpenType features, the positioning of accents is good and the precomposed glyphs works as expected. The optional font features via Window -> Test Properties, however, that is very limited: while I set the font face as Ponomar Unicode, only ligature and style set 2 available on screen.

![1](https://i.imgur.com/krKi1R6.png)

So I ag

[2018-01-01 16:33] KrasnayaPloshchad commented on #31
I reported to their Mantis tracker that you can track: https://bugs.scribus.net/view.php?id=15088

[2018-01-01 16:39] KrasnayaPloshchad commented on #24
Microsoft also published Windows 10 VM at Windows Dev Center:
https://developer.microsoft.com/en-us/windows/downloads/virtual-machines

[2018-01-02 16:45] Mwvceu opened #34 "Kerning issues with Ponomar Unicode"
![5fonts3words](https://user-images.githubusercontent.com/6507354/34491559-f7fa27d6-eff4-11e7-806e-aeb98dc4e8fa.png)
screenshot from LibreOffice

[2018-01-03 08:06] typiconman commented on #33
Merged with #34

[2018-01-03 08:06] #33 closed

[2018-01-03 08:09] typiconman commented on #32
The problem in LibreOffice seems to be fixed, but you'll need to install the current development build (6.1.0). See my comments here:
https://bugs.documentfoundation.org/show_bug.cgi?id=114681

[2018-01-03 12:01] KrasnayaPloshchad commented on #24
Alternatively, you can get ISO package from here, than install it into VBox:
https://www.microsoft.com/en-us/software-download/windows10ISO

[2018-01-04 07:21] typiconman commented on #24
I'll try to look into this soon. Right now I'm working on fixing the keyboard drivers and updating the documentation.

[2018-01-10 11:15] KrasnayaPloshchad commented on #32
So you must waiting 6 months before this bug fix coming, isn’t it?

[2018-01-10 11:16] typiconman commented on #32
Well, unfortunately, I have no control over the release cycle for LibreOffice. I'm not even affiliated in any way with The Document Foundation.
If you need the feature immediately, you could install the current (unstable) development version.

[2018-01-13 16:16] KrasnayaPloshchad commented on #32
In LibreOffice bugzilla I saw there is a request to back port your patch to 6.0 branch, maybe it could make the feature coming soon.

[2018-02-18 22:48] aleslavista opened #35 "Correct positioning of kamora in Ponomar"
Hello,

The shape of circumflex doesn't seem very "convincing", too sans-serif, especially if compared to how it looks like in Menaion and Monomakh. Also the kerning needs tweaking in my opinion.

See attachment for visual proof.

Regards,
![circumflex](https://user-images.githubusercontent.com/33322424/36357947-264c3c7e-1506-11e8-88a2-68832b82ded6.png)

[2018-02-18 23:26] aleslavista opened #36 "Shape of letter Zemlja in Menaion"
Hello,

It looks like you decided to omit the "3"-shaped ZEMLJA altogether from MENAION, in all likelihood out of "archaicness" concerns. So the glyph of U+437 is identical to U+A641, however this defeats the purpose of having two different codepoints, and also goes against Unicode directives which direct font designers to implement archaic glyphs through codepoints explicitly reserved for archaic

[2018-02-20 20:31] aleslavista opened #37 "Add round Omega as stylistic alt in Ponomar"
Virtually all capital letters in Ponomar have serifs, however capital OMEGA U+460 conspicuously lack them, I think they should be placed on top of the three ascenders, as happens with capital letter SHA, for consistency reasons. Incidentally I wonder why capital letter OT U+47E features a different shape although the lower-case is clearly derived from lower-case OMEGA.

May I suggest you unify the

[2018-02-21 02:33] starover77 commented on #37
Dear aleslavista, It is the tradition for Orthodox Christians to devote the entire first week of Great Lent (Velikii Post) to spiritual pursuits. Members of the Ponomar Project will save these messages and work on any issues after the Sunday of Orthodoxy, when we have time to address them. (The period from Lazarus Saturday until after Thomas Sunday is likewise a period when most of us take a break

[2018-02-21 18:38] typiconman commented on #37
The Ponomar font is designed to represent the usage in current liturgical books of the Russian Orthodox Church. What you propose is absolutely not the case in any liturgical book (see picture).

Your idea *could* be used in a stylzed font, such as Monomachus, which is not intended to faithfully reproduce any existing typeface, but rather is just intended to provide all Unicode characters and "look

[2018-02-21 18:40] typiconman commented on #35
Again, this how the kamora appears in current liturgical books. (Yes, *without* serifs).

The positioning over the Little Yus, on the other hand, could be tweaked a little, here I agree.

[2018-02-21 18:41] typiconman commented on #36
Here I agree with you. The Zemlya should be added to Menaion.

[2018-02-21 18:57] aleslavista commented on #37
Hello,

Thanks for your answer. To be honest, I'd come to your same conclusion about the shape of capital letter OT after having checked my Church Slavonic Bible (see attachment). But I refrained from posting here since this morning I received a message about respecting the Orthodox Great Lent, so I complied. However, now that we've ascertained that liturgical books mandate such shape, I think you

[2018-02-21 19:01] aleslavista commented on #35
OK, thanks again for making it clear you're simply following an established pattern. I was unaware of it, sorry.

[2018-02-21 19:08] aleslavista commented on #28
I don't know whether this may be of interest to you, but I can translate into Serbocroatian, just give me a couple of months to finalize the publication I'm working on at the moment.

[2018-02-21 20:38] starover77 commented on #37
Sorry, I didn't mean to say that nobody is checking their email this week, but I want to let you know that if you didn't get a response, it doesn't mean that we are purposefully ignoring you. I wish you a spiritually profitable Great Lent.

BTW: I concur with Aleksandr's reply about the shapes of the Capital Letter OT. I have seen the wrong shape used a few times, but only in "samizdat" (do-it-you

[2018-02-21 21:07] aleslavista commented on #37
No problem, starover77 and thank you for the wish.

As I said above, the shape of capital OT was just a side issue, I really wanted to discuss the lack of serifs in capital OMEGA.

About that, I just reaized Monomakh **does** have serifs on capital OMEGA, and this makes its look more "consistent", if you will, with other capital letters, particularly capital SHA, unlike Ponomar's capital OMEGA whi

[2018-02-22 00:30] starover77 commented on #37
OK, I just took some time to go through my extensive library of Church Slavonic books. I have over one hundred early editions before the late 1600s (poluustav typography) in digital format, and almost the same amount printed from the late 1600s to the present (Synodal and Kievan "post-poluustav" typography). I also have over 100 printed books in my home library, which range from 1637 to 1918.

My

[2018-02-22 05:59] typiconman commented on #28
@aleslavista Yes, a translation into Serbo-Croation would be great.

[2018-02-22 06:06] typiconman commented on #37
@aleslavista The captial Omega in books published by the Moscow Synodal Press (which is the typeface that Ponomar is supposed to reproduce) does not have serifs. (I think @starover77 says as much.)
However, since the Kievan editions use a rounded Omega, maybe we should place the rounded variant as a stylistic alternative (see here for example: http://old.stsl.ru/manuscripts/staropechatnye-knigi/0-

[2018-02-22 17:16] aleslavista commented on #37
OK, thanks you so much to both of you for thoroughly delving into the topic. Yet, I still don't understand the _rationale_ for "denying" OMEGA serifs, given that there ought to be some criteria, typography isn't supposed to be random, right?. Oddly also Menaion's capital OMEGA seem to have serifs, even though it's supposed to faithfully reproduce USTAV manuscripts, before the invention of printing

[2018-02-22 17:25] aleslavista commented on #28
OK, where's the file?

[2018-02-22 17:30] typiconman commented on #28
Take a look here:
https://github.com/typiconman/fonts-cu/tree/master/docs

For an example of how to make multilingual documentation, take a look here:
https://github.com/slavonic/cu-tex/blob/master/churchslavonic.tex

[2018-02-22 17:31] typiconman commented on #35
Related to #10

[2018-02-22 17:35] typiconman commented on #37
@aleslavista I don't see a reason to remove serifs in Monomachus. It is a stylized font, and it has serifs.

Menaion is a different issue. The glyphs there are based on the Путятина минея and should be historically accurate. But the whole font, unfortunately, was poorly designed.

[2018-02-22 17:49] aleslavista commented on #37
But you yourself said it's an aberration! I thought it was the logical thing to do since we've ascertained historical typography doesn't warrant it. Actually, giving it a "Kievian" shape would more justified than keeping the aberration since at least the latter does have a typographical history.

Concerning Menaion, since you deem it "poorly designed", that means you don't recommend my using it in

[2018-02-22 17:51] aleslavista commented on #28
Ahem, I'm sorry but I'm a LATEX illiterate, I know it exists and it has many backers but unfortunately I'm stuck to the stone age :(

[2018-02-22 17:51] aleslavista commented on #28
If you don't mind I can translate the bare text, then you'll take care of typesetting it in LATEX.

[2018-02-22 18:03] typiconman commented on #37
@aleslavista Ponomar is intended to reproduce the Moscow typeface, where we do not have the rounded Omega. However, I see now reason why we cannot add the rounded Omega as a stylistic variant for anyone wishing to use a Kievan typeface. This is the only thing we can do now, since we don't have a separate Kievan font.

Concerning Menaion, unless you're trying to reproduce the exact look of the manu

[2018-02-22 18:06] typiconman commented on #28
Yes, just make it in a plain text file and it'll import into TeX relatively easily. Will you do it in Cyrillic or Gaj?

[2018-02-22 18:59] aleslavista commented on #37
I was talking about removing serifs from **Monomakh**, not Ponomar. As stylized as a font may be it still has to respect to follow some conventions and a rounded OMEGA certainly does have a history behind it, unlike a serified OMEGA.

Concerning Menaion, of course I'm working on Jagic's critical edition which is transliterated. Frankly speaking, I did plead with my publisher to allow me to use Gla

[2018-02-22 19:05] aleslavista commented on #28
OK, I'll just translate the English text, leaving the LATEX structure intact, that should make your job easier. I usually use Cyrillic, moreover, since we're talking about Cyrillic and Church Slavonic, I think Cirilica would be more suitable than Latinica. Unless you choose otherwise, of course.

[2018-02-22 21:53] aleslavista opened #38 "Shape of Superscript VEDE in Monomakh"
Hello,

Superscript VEDE in Monomakh looks like a square... the same is true for this font family, only Menaion is an exception, is it again a customary shape?

![superscript vede](https://user-images.githubusercontent.com/33322424/36566249-3666b380-1823-11e8-9aae-4c49e3928f5e.png)

[2018-02-22 23:25] starover77 commented on #38
Yes, this is the common traditional form of superscript Vedi. I assume that the letter took this form to avoid looking cramped or looking too much like the superscript Buki.

[2018-02-23 00:16] starover77 commented on #37
Whether the font is Monomachus, Monomakh, Putiata, PonomarUnicode, or some other font, we must first stop and consider a few things before we attempt to introduce changes to the design of a font. The first (and most important) consideration is whether or not we have a genuine right to alter the designer's work. In all cases, the Ponomar Project has been granted permission to RE-ENCODE the existing

[2018-02-23 12:17] typiconman commented on #38
This is another example of how the Menaion font is not well designed. The original designer must have shrunk the lowercase letters to make the combining letters.

[2018-02-23 12:17] typiconman commented on #28
Yes, Cyrillic makes the most sense to me.

[2018-02-23 12:19] typiconman commented on #37
@starover77 I don't understand what the problem is. The license (SIL OFL) allows us to do anything with the font. We've already redesigned Ponomar quite considerably and some characters differ significantly from the original Hirmos UCS font.

[2018-02-23 12:57] starover77 commented on #37
@typiconman  I understand what you are saying about having the right to make such a change (adding serifs to the capital letter Omega), but since there is no established practice of this that can be observed in authentic typographical practice from the beginning of printing until the present (not considering fonts that were designed during the last 30 years for use in desktop publishing), I don't

[2018-02-23 13:07] aleslavista commented on #38
But in Jagic's transliteration they don't look like a square And this book was printed in the mid-19th century. As soon as I spot the relevant example I'll post it here.

[2018-02-23 13:15] aleslavista commented on #37
Hello,

I think I've not been able to bring the point home that a serified capital OMEGA is **no longer an issue** since we've ascertained it has no place in proper CS typography. My proposal shifted to giving capital OMEGA in Monomakh a rounded shape. That's why I opened a new post to avoid confusion.

Also please remember I'm just posting my comments here, I never tried to foist upon you my view

[2018-02-23 13:25] aleslavista opened #39 "Add Round Omega as style alternative in Monomakh"
Hello,

As I said in the previous post, I though it better to open a new thread to make it clear we're not debating any longer whether Capital OMEGA should have serifs or not.

Here I intend to argue in favor of giving Monomakh's Capital OMEGA a Rounded Shape, as can be seen on Jagic's transliteration of Codex Marianus and in a font, Dilyana, that looks strikingly similar to the one Jagic selected

[2018-02-23 13:28] aleslavista commented on #28
Right. As soon as I I'm finished with my book, I shall gladly take care of the translation.

[2018-02-23 13:41] starover77 commented on #37
Sorry, there is a lot going on right this week. I wasn't aware that the subject was closed, as the thread remained opened for further discussion. Can we close this subject now?

[2018-02-23 16:47] typiconman commented on #39
I am in favor of supporting both forms, which can be done via Stylistic Alternatives. The only question is which form should be the default.

[2018-02-23 18:37] aleslavista commented on #39
Frankly speaking only LATEX-savy users can make use of such stuff (LO doesn't support this nor, as far as I know, does Office). My selfish proposal is to have a rounded shape by default because, since you pronounced Menaion not fit for a publication, at least I can have Monomakh look like Jagic's font. :)

[2018-02-23 21:01] aleslavista commented on #38
Here it is, avowedly the look is shoddy as it's a scanning of the original, this book has been out of print for half a century now, but we can make out that it's not a square.
![superscript vede 2](https://user-images.githubusercontent.com/33322424/36616741-23f9f1c2-18e5-11e8-9db2-7ca60f03d19b.png)

[2018-02-24 00:25] starover77 commented on #38
For Paleoslavic texts using the Ustav script, the superscript version of the letter "в" was basically what you see in the example you have shown us. -- BTW: I recognize the font in the example as one that was used in several Carpatho-Rusyn editions published at Mukachevo, particularly the Простопение, 1906 (see: http://ecmr.fi/Scanned_Chantbooks/prostopinie.pdf). I have also seen this font used in

[2018-02-26 04:06] KrasnayaPloshchad commented on #38
Is it possible to add a style set to switch character variant for superscript Vede?

[2018-02-26 04:15] KrasnayaPloshchad opened #40 "Implement collision avoidence for Pokrytie"
Seen from the web site, I think Ponomar and Fedorovsk fonts should create collision avoidences to make Pokrytie not touch other letters. For example, in the word Хрⷭ҇то́съ, the letter рⷭ҇ should has a gap (as hair space) after Х while it is combining with Pokrytie.

[2018-02-26 12:36] typiconman commented on #40
Duplicate of #34?

[2018-02-26 12:37] typiconman commented on #38
@KrasnayaPloshchad Yes, it's possible. But I don't know if we need it. In which font do you want to see a new stylistic alternative?

[2018-02-26 12:39] typiconman commented on #39
@aleslavista Stylistic Alternatives are supported in LO (see the font documentation) and probably in MS Office as well, though I have no ability to test Microsoft products.

[2018-02-26 12:41] typiconman commented on #15
Since there seems to be no interest among the developers to support this, I am closing the issue.

[2018-02-26 12:41] #15 closed

[2018-02-26 13:12] KrasnayaPloshchad commented on #40
Yes.

[2018-02-26 13:12] #40 closed

[2018-02-26 13:25] typiconman commented on #34
Graphite kerning is hard to do. But yes, it should be done. See also #1.

[2018-02-26 15:18] aleslavista commented on #39
OK, thanks for the information but I'd still vote in favor of making the rounded shape default. Let's be practical-minded: most people only use what works "out of the box", if you implement something as OpenType very few people will be aware of it, let alone make use of it.

As a side note I realized many "casual" Cyrillic fonts like Ubuntu or DejaVu Serif do feature the rounded shape, but I don't

[2018-02-26 15:27] aleslavista commented on #38
Do you feel it'd be OK to typeset Codex Marianus with the shape implemented in Monomakh even though it doesn't appear in Jagic's work?

You're certainly more qualified than I do to discern such issues.

[2018-02-26 15:38] aleslavista commented on #39
OK, this is my last attempt to win you over to my win you over to my side: letter FERT and THITA have different capital shapes in Monomakh and Ponomar (while lower case looks alike), giving capital OMEGA a rounded shape would give Monomakh more consistency as the internal trend of the font if for the upper case to feature a different shape than the lower case while in Ponomar they tend to look sim

[2018-02-26 17:31] starover77 commented on #39
I have been trying to stay away from this discussion, but I feel compelled to point out that the rounded upper case form is a late innovation to typography. It first started appearing in Kievan publications around 1700 and is an "interloper" if you consider typographic tradition. Since your project is a transliteration from Glagolitic to Cyrillic, why would it be preferable to use a font that comp

[2018-02-26 17:44] aleslavista commented on #39
Yes, thanks for your remark, you already pointed that out in the other topic and I absolutely don't mean to discount that. But please mind as well that you've also discouraged me from using the full-fledged USTAV font, Menaion.

The most compelling rationale for wanting such a shape is that as you can see above, so did Jagic. Also, it seems to me this shape is more widespread in non "technical" fo

[2018-02-26 20:30] starover77 commented on #39
OK, I have another idea. There is a font called "Shafarik" (probably not the original name), which was used extensively from the early 1800s until 1917 in many academic books, and it was specifically designed to reproduce OLD Church Slavic or Paleoslavic texts. As far as I can tell, it was never used to typeset Church Slavonic texts. You can find countless examples of its usage, but perhaps the ea

[2018-02-27 15:05] aleslavista opened #41 "Correct Shape of YEST in OCS"
This is a rather thorny issue, I hope I'm going to be able to sum it up as best as I can.

Should (iotated) EST in Old Church Slavonic resemble a Latin capital E or rather a Greek epsilon? Staroslavjanski Slovar settles for the latter, I guess this is a normative text, so it should weigh to an extent. However Jagic uses in the former shape, also remember that iotated EST doesn't exist in Glagoliti

[2018-02-27 15:25] aleslavista commented on #39
Thanks, the font looks great. It's very similar to another font I'd have loved to use in my publication, Dilyana, but unfortunately it doesn't feature superscripts.

Still, I don't need just superscripts but also the rough breathing and the circumflex accent, these are not widespread yet seldom used. On the other hand, acute and grave accents, and the smooth breathing are not needed.

However I'd

[2018-02-27 16:35] aleslavista commented on #39
On top of that, I also need titlo and pokrytie.

Of course adding Greek and Glagolitic would make of it a superb font, unfortunately I've been discouraged by my publisher from typesetting in Glagolitic, I felt Jagic made a mistake to use transliteration but my publisher did have a point when he retorted it'd fatally restrict the readership.

[2018-02-28 01:00] starover77 commented on #39
If you are serious in using the Shafarik font, I can prepare a working version that will meet any of your needs. As you work with it, send me a list of what you need, what is missing or doesn't yet work right, and I can make the necessary changes and send you an improved copy. I can do this as many times as you need, so that we can help you complete your project.

As for the Glagolitic script, I d

[2018-02-28 06:34] typiconman commented on #38
Personally, I'm not why reproducing Jagic's typeface is an important goal. 19th century editions of Church Slavonic texts are not particularly know for high quality type anyway.

[2018-02-28 06:39] typiconman commented on #41
I'm confused as to what you're asking.
In terms of the usage of the wide yest є vs. the narrow yest е in Synodal Slavonic, see any standard reference, e.g.: http://www.ponomar.net/files/gama2/p002.htm
Iotated yest does not exist in Synodal Slavonic.

In terms of what's included in fonts, I know there was some talk earlier on in the project (and it may have gotten into UTN 41) that fonts should not

[2018-02-28 11:21] aleslavista commented on #38
Because the square-like shape is not particularly "intuitive". I was startled the first time I saw, I thought it was a bug, but then I'm not an expert of Slavonic typography so my hunch may be deceptive.

[2018-02-28 11:35] aleslavista commented on #39
Yes, I'm really willing to use Shafarik, please do send me a working version at: aleslavista@yahoo.com so I'll let you know if there's something still lacking or a bug in the design.

About the original text, please mind that I'm working on Jagic's critical edition, **not** on the original text.  Frankly speaking, I wouldn't even know whether scans of the Codex Marianus manuscript are available.

[2018-02-28 11:49] aleslavista commented on #41
Hello,

I was referring to OCS usage, not Synodal Slavonic. To put it in other words, Is wide YEST the letter introduced in early OCS Cyrillic and therefore narrow YEST a later innovation, like for instance the ligatures YERY or UK that belong only to Synodal Slavonic? If so, then iotated YEST in Ponomar should look like a iotated **wide** YEST, if you bother to include it at all, but the real iss

[2018-02-28 11:57] typiconman commented on #39
Like I said, I definitely support adding the round Omega to Monomachus. But I'm not sure that it has to be the default form. I think that anyone who needs it would be able to select it via stylistic alternatives (or, if they use software that doesn't support salt, from the PUA).

[2018-02-28 14:06] starover77 commented on #39
@aleslavista - I have already posted a link to the working version of Shafarik, in the post where I mentioned it to you. Download it, install it, test it out, and let me know what modifications you need me to make in order for it to meet all your needs. (It doesn't look like we have to fuss with accents for you to use the font for your project, so that should be one less thing to worry about at th

[2018-02-28 19:56] aleslavista commented on #39
@starover77 As a matter of fact I'm already using it but since you told it was a "working" version, I was (mistakenly) awaiting kind of a new version.

![shafarik sample](https://user-images.githubusercontent.com/33322424/36807526-87a86e60-1cc3-11e8-8b8b-9930f98c2672.png)

The most pressing issue is the lack of rough breathing, also the lack of descenders in CHER is startling in a CS font, but thi

[2018-02-28 19:58] aleslavista commented on #41
Concerning the omission of characters, as a matter of fact, Shafarik **does omit** some Serbian glyphs which are included by default in basic, Windows 1251-compatible Cyrillic fonts, yet I didn't experience any trouble with it.

[2018-02-28 20:07] aleslavista commented on #38
For the record, in Shafarik the shape is as in Menaion.

[2018-03-20 18:05] KrasnayaPloshchad opened #42 "Create Firefox font package"
Firefox is allowed to load fonts from extension, on AMO site there are some extensions contains font files to allow users that do not already have the required fonts installed on their systems, with such add-on any page which specified using Ponomar Unicode or Monomakh Unicode will be proper rendered on both desktop and mobile devices. One notable example is here: [MathML-fonts](https://addons.moz

[2018-03-23 06:43] typiconman commented on #42
Fonts can be loaded using CSS. What's the point of loading fonts in an extension? I don't understand.

[2018-03-23 09:51] KrasnayaPloshchad commented on #42
There are two key points of loading fonts in an extension. First, you can write a CSS file, which contains some `@font-face` rules to specify which fonts included in extension can be used. For example, the MathML-fonts extension has a CSS file including following rules:
[code]
Second, you need prepare font files to pack, WOFF formats would be better choice. In an extension these fonts should bette

[2018-03-23 10:02] typiconman commented on #42
OK, but what are the benefits of this over using embedded fonts (which is what we do now)?

[2018-03-23 15:44] KrasnayaPloshchad commented on #42
This extension has benifits especially in Firefox for Android, after installation, this extension would help to some pages which used your fonts your fonts but not embedded them to make them render correctly. For example: https://en.m.wikipedia.org/wiki/O_(Cyrillic)

[2018-03-24 08:48] typiconman commented on #42
I'll put this in the "some day" category.

[2018-03-25 18:53] aleslavista commented on #39
Hello, is this thread closed? Because nobody has been posting here for almost a month.

[2018-03-26 06:46] typiconman commented on #39
It's on the to-do list. I don't know when I'll get to it. Right now the main focus is to get the Znamenny Notation fonts working properly.

[2018-03-26 16:22] aleslavista commented on #39
OK, thanks. May I ask you what's your stance on https://github.com/typiconman/fonts-cu/issues/39#issuecomment-369363033?

P.S.

I'd like to remind you for some time I've not been receiving notifications. I emailed you about that but apparently you didn't seem to notice it.

[2018-03-26 16:25] typiconman commented on #39
@aleslavista We'll add the Round Omega. Which form will be the default and which will be accessible as an alternative -- I think we'll decide that when we design the character.

I did receive your email, but I'm not sure what you mean by "not receiving notifications". Do you mean from the GitHub site? There probably have not been any posts in the threads to which you're subscribed.

[2018-03-26 19:34] aleslavista commented on #39
I'm sorry if I annoyed you, I insisted because at the moment I'm devoid of a font for my project, Monomakh would've been a good choice yet I feel the shape of capital OMEGA to be inappropriate for my needs so that's why I've been lobbying so long for a change.

Also, please let me know if perchance you happen to be interested in what I'm doing I posted a picture above, that should give you an idea

[2018-03-27 06:47] typiconman commented on #39
Well, this is free software, and the developers have only so much time they can devote to it. We try to make it useful to as many people as possible, but we don't always succeed.

If you need something fast, you're always welcome to fork the code and modify it yourself.

[2018-03-27 12:14] aleslavista commented on #39
Sorry, as I said I didn't mean to annoy you. In fact, I was just wondering whether you could grow interested in what I'm doing, so maybe you'd want to collaborate with me. If you've got other things to do, just forget about it.

As for modifying the code... I don't even know what a code looks like. :( But for the record, I did volunteer to translate the user manual, so it's not that I just want to

[2018-03-27 13:00] starover77 commented on #39
You are certainly not annoying us, and I am sure that I can speak for Aleksandr when I say that we are certainly interested in your project, but please keep in mind that both Aleksandr and myself are currently very busy with other projects, academic studies, preparation for Pascha (which is approaching far too fast for me this year), family medical issues, etc. We are happy to assist you, but ever

[2018-04-04 11:50] aleslavista commented on #39
@starover77 Interoperability is paramount for me as the text is going to be edited across multiple platforms and nothing guarantees that these platforms are going to support OpenType, so that's why I insisted on capital Round Omega as the primary form. Everything else would be impracticable from my standpoint.

[2018-04-04 11:52] aleslavista commented on #41
@typiconman I'm still waiting for you to answer [this](https://github.com/typiconman/fonts-cu/issues/41#issuecomment-369215850)

[2018-04-04 14:51] starover77 commented on #39
OpenType was specifically designed to be cross-platform compatible, so this should not be a cause for concern. It works equally well on PC, Mac and Linux (and I'm assuming Android too).
See: https://www.adobe.com/products/type/opentype.html

Regarding Capital Round Omega as a primary form: If you can provide us with images that prove beyond a doubt that Round Omega is the historically correct form

[2018-04-07 16:34] KrasnayaPloshchad opened #43 "Rework some letters using glyph references"
Several letters such as Ѐ, Ё, Ѝ can be reconstructed by copy glyph references and paste them. The notable advantage is if you modified one glyph, other related glyphs can follow your change, thus giving conveniences for future maintances.

[2018-04-07 16:40] KrasnayaPloshchad commented on #28
Is it possible to intergrate online translating service as Crowdin or Transifex?

[2018-04-09 10:41] starover77 commented on #43
This is definitely a good idea, but it has a much wider application with Latin and Greek fonts. I use glyph references in my Latin font designs, but I haven't seen enough need for it in Cyrillic fonts to consider it worth much time and effort. But if you can think of places in the Cyrillic ranges of Unicode where this would be applicable, it would be useful if we could establish a list of possible

[2018-04-09 19:28] typiconman commented on #43
The problem is that the TTF format does not support characters with a mix of references and splines. So this limits the usefulness of this approach to only cases that consist of references entirely.

[2018-04-13 20:11] aleslavista commented on #28
I uploaded a draft of the translation, it's just a rash translation, but before revising the draft I'd like you to make a PDF out of it first, to make sure I haven't broken LaTeX syntax.

Also I'd like to know whether names of Graphite features like `Modern (Descender Right)`in Monomakh are actually just descriptions and therefore are to be translated.

Lastly if I may I suggest you use [Resavska

[2018-04-16 08:57] typiconman commented on #28
Thanks.
It does compile OK. You can also translate the keywords and a few other things. Regarding the Graphite features, their names are in English, and so should be left untranslated. Actually, there may be a way to localize the names of the Graphite features. I have to look into it.
A few changes need to be made to the TeX file for proper support of Serbo-Croation (for example, correct hyphenati

[2018-04-16 08:58] typiconman commented on #28
Regarding the Resavska font: the only problem is that if we use a non-system font, we have to distribute it together with the documentation (since it's an Open Source project!). I don't know what font's license is and if it would be possible for us to distribute the font.

[2018-04-16 17:02] KrasnayaPloshchad commented on #28
Linux Libertine has a special glyph for Serbian:
![default](https://user-images.githubusercontent.com/10364351/38824071-abfb1b50-41da-11e8-8aef-0ff6876da525.PNG)
Is it possible to present it in the document?

[2018-04-16 17:16] typiconman commented on #28
This should turn on automatically when the document language is set to Serbian.

My question to @aleslavista: is there a problem with using Linux Libertine? Are there some characters needed for Serbo-Croation, for example, that are missing?

[2018-04-17 12:34] KrasnayaPloshchad commented on #28
Oh I also remembered that Linux Libertine Italic has wrong glyph for ђ.

[2018-04-17 13:43] typiconman commented on #28
They seem to have the glyphs needed for Serbian, but are missing many glyphs for Church Slavonic (and have some errors in a few glyphs as well). Regarding the italic ђ, @KrasnayaPloshchad, can you file a bug with Khaled on this?

[2018-04-17 15:33] aleslavista commented on #28
@typiconman In my version of Libertine (I can't tell you the number but mind I'm running LO 5.4 on Lubuntu 17.10, so it must be one of the latest), upright BE doesn't have the Serbian glyph, italic does but it doesn't look convincing, plus kerning seems to be broken. Also italic TE lacks a Serbian glyph.

[2018-04-17 16:38] typiconman commented on #28
Please file all of these as bugs against https://github.com/khaledhosny/libertinus

[2018-04-18 19:35] aleslavista commented on #28
@typiconman Tipometar has notified me that their fonts can be freely used.

[2018-04-22 21:30] aleslavista commented on #28
Updated version:
[fonts-churchslavonic-sr.txt](https://github.com/typiconman/fonts-cu/files/1936116/fonts-churchslavonic-sr.txt)

I've never heard of GitHub, please explain me how it works.

Concerning Graphite feature names, it seems they have two? names, or rather the longer one is simply a description? For instance, at the bottom of page 18:

About Libertine, sorry to put it that way, but Cyril

[2018-05-06 16:31] KrasnayaPloshchad commented on #43
So which letters can be possibility composed by mix of references and splines?

[2018-05-06 17:00] typiconman commented on #43
For example, think of ѿ. In principle, you could map all splines to glyphs in the PUA and have everything done via references. But is it worth it?

[2018-05-28 16:57] KrasnayaPloshchad opened #44 "Create Chocolatey package"
It would be awesome if you can also publish your fonts at [Chocolatey](https://chocolatey.org/).

[2018-05-29 04:12] typiconman commented on #44
Filing this under things that someone is welcome to do and submit a pull request.

[2018-06-10 08:14] KrasnayaPloshchad commented on #43
Now I have an idea for such letters. First, put an unencoded glyph into font to save a spline, second, copy a reference to encoded glyph. Is it possible?

[2018-10-18 13:57] KrasnayaPloshchad commented on #42
Now you can see their source code via an online source if you want to know about, then you will see the good point.
https://robwu.nl/crxviewer/?crx=https%3A%2F%2Faddons.mozilla.org%2Ffirefox%2Fdownloads%2Ffile%2F630669%2Fmathml_fonts-3.0-an%2Bfx.xpi%3Fsrc%3Ddp-btn-primary

[2019-02-14 07:05] typiconman commented on #25
@tuffnatty Can this issue be closed?

[2019-02-16 21:30] tuffnatty commented on #25
@typiconman oops sorry for late answer. Yes everything except half and double titlos is working well with the versions attached above.

[2019-02-17 12:43] typiconman commented on #25
Closed as fixed. For half marks, see issue #3.

[2019-02-17 12:43] #25 closed

[2019-03-17 10:11] typiconman commented on #24
I have been able to confirm the issue.
![VirtualBox_MSEdge - Win10_17_03_2019_13_08_48](https://user-images.githubusercontent.com/5428695/54488701-19773000-48b6-11e9-90bf-0b89f138edf3.png)

[2019-03-17 10:39] typiconman commented on #35
I think this is now fixed.
![Screenshot from 2019-03-17 13-36-35](https://user-images.githubusercontent.com/5428695/54489119-06fef580-48ba-11e9-8ce5-b34d8e2081e8.png)

[2019-03-17 11:23] typiconman commented on #37
I added the round form of U+0460 as a stylistic alternative (accessed via salt). The form is encoded in the PUA at U+E2EA.
![Screenshot from 2019-03-17 14-23-34](https://user-images.githubusercontent.com/5428695/54489725-43cdeb00-48c0-11e9-98d8-e6fe3cecfb97.png)

[2019-03-17 11:34] typiconman opened #46 "Deprecate SIL Graphite / Депрекация фич Graphite"
SIL Graphite features were added to our fonts primarily for software that does not support OpenType (mainly LibreOffice). Most software now supports OpenType features (e.g., LibreOffice). Therefore users get no additional functionality from SIL Graphite features.

Moreover, SIL Graphite requires use of TrueType fonts, which generate lower quality (quadratic splines) than PostScript fonts (cubic sp

[2019-03-17 11:39] typiconman commented on #24
In light of #46 this may be irrelevant.

[2019-03-17 12:06] typiconman commented on #41
Since as far as I can tell this is not a bug report, or a feature request, I'm closing the issue.

If there is something you'd like us to fix in the font, please reopen, and be specific.

[2019-03-17 12:06] #41 closed

[2019-03-17 12:07] typiconman commented on #43
A decision to deprecate SIL Graphite would greatly simplify this issue. Please vote in #46

[2019-03-17 14:38] while0pass commented on #46
Случайно проголосовал за второй и третий вариант. Не знаю, как снять свои голоса. Я бы сохранил файлы GDL, но не поддерживал версию TrueType в надежде, что кто-нибудь все же реализует поддержку CFF для SIL Graphite. Да, такие запросы уже были несколько раз за последние 15 лет и разработчики SIL Graphite всякий раз отвечали, что не планируют тратить на это свое время, хотя не против, если кто-нибуд

[2019-03-17 15:58] typiconman commented on #46
@while0pass Проблема в том, что Graphite фичи можно прописать только к TTF шрифтам. Так что GDL исходник без TrueType версии шрифта будет как колесо без машины.

Конвертация арабских чисел в кириллическую цифирь средствами OpenType действительно не выполнить. Но скажем в LibreOffice поддерживается нумерация страниц кириллической цифирью, так что это наверное не очень актуально. Разве что для MS Of

[2019-03-17 18:20] typiconman opened #47 "Add more fonts"
The issue with porting other fonts to Unicode is that they were copyrighted by Vlad Dorosh and others, so could not be freely modified.

The fonts in the defunct [CSLTeX project](https://sites.google.com/site/csltex/) are licensed under the LaTeX project license, so they can be freely modified.

Thus, at least the following fonts should be ported and modified to Unicode:
* Triodion UCS
* Starouspe

[2019-03-17 22:02] while0pass commented on #46
@typiconman То, что все Graphite-таблицы, а не только фичи до сих пор можно инкорпорировать только в TTF-шрифты, мне известно. Вместе с тем с OT-CFF-шрифтами тут нет принципиальной несовместимости, проблема лишь в том, что основные разработчики SIL Graphite никогда не рассматривали реализацию поддержки OT-CFF как хоть сколько-нибудь приоритетную задачу. И нет, GDL-исходники без TT все же не колесо

[2019-03-18 01:35] while0pass commented on #47
Я бы добавил Почаевск -- шрифт с наименьшим размером выносных элементов.

[2019-03-18 05:49] typiconman commented on #46
@while0pass Возможно такое решение -- перевести все слои TTF и исходный код GDL в новый репозиторий fonts-cu-legacy, и заморозить его. Кому нужен графит и TrueType, могут взять оттуда.

А здесь продолжить дальше развитие пакета, в том числе и пополнив новыми шрифтами, как в #47.

[2019-03-18 23:58] while0pass commented on #46
@typiconman Да, это хороший вариант.

[2019-03-20 14:44] typiconman commented on #34
I updated the kerning, but the glagol + titlo + uk case is very difficult. Adding more kerning makes it look too spaced. Perhaps a better solution is to contextually substitute to a left-truncated uk in this case (see the last example). @Mwvceu @starover77 please comment.

![Screenshot from 2019-03-20 17-41-05](https://user-images.githubusercontent.com/5428695/54693417-a7ae1900-4b37-11e9-8c2b-e916

[2019-03-20 18:30] starover77 commented on #34
The contextual substitution with left-truncated uk looks good to me, and I think it would be an improvement to add it to the lookups. In all of the other demonstrated fonts, only the Pochaevsk and Irmologion fonts look OK with this character combination, which demonstrates that not all fonts are equal.

[2019-03-20 18:39] typiconman commented on #34
Take a look at this.
![Screenshot from 2019-03-20 21-38-36](https://user-images.githubusercontent.com/5428695/54710371-9295b200-4b58-11e9-8948-b9e084db571d.png)

[2019-03-22 12:57] typiconman commented on #35
Fixed.

[2019-03-22 12:57] #35 closed

[2019-03-22 12:58] typiconman commented on #34
The reported by @Mwvceu have been fixed. @starover77 Please check the kerning with the latest version of the font and see if there are any other issues.

[2019-03-22 12:59] typiconman commented on #37
Fixed.

[2019-03-22 12:59] #37 closed

[2019-03-22 13:45] typiconman commented on #39
I fixed the appearance of U+A64C in Monomakh and I added the rounded form of Omega as a stylistic alternative to U+0460.
@starover77 Do you support the proposal by @aleslavista to make the round form default? See attached image.

![Screenshot from 2019-03-22 16-42-14](https://user-images.githubusercontent.com/5428695/54826874-d1934700-4cc1-11e9-9a3b-5ae5c0243455.png)

[2019-03-22 13:54] typiconman commented on #38
@aleslavista @starover77 What's the take on this? Do we want to change the shape of the superscript Vedi in Monomakh?

[2019-03-22 22:16] starover77 commented on #34
Looks good to me.

[2019-03-22 22:37] starover77 commented on #39
No, I do not support the proposal to make the round form default. We have discussed this again and again, and I still stand by my original argument, posted on February 26, 2018: "....the rounded upper case form is a late innovation to typography. It first started appearing in Kievan publications around 1700 and is an "interloper" if you consider typographic tradition."

I DO support the proposal t

[2019-03-22 22:51] starover77 commented on #38
Well, I don't have much use for the Monomakh font (for artistic reasons), but if we are going to toss aside the traditional superscript form of the letter Zemlya, we might as well do the same for the superscript Vedi. Do you need me to design the character?

[2019-03-23 10:34] typiconman commented on #39
In this case this issue is resolved. I will now close it.

@starover77 Do you want to distribute your Shafarik font as part of issue #47?

[2019-03-23 10:34] #39 closed

[2019-03-23 10:35] typiconman commented on #38
@starover77 Yes, if you can design a new superscript Vedi, that would be fantastic.

[2019-03-23 12:43] starover77 commented on #39
Yes, I would like to distribute the font. However, after I add the 'salt' lookup for the Rounded Capital Omega, I would like to have this run through the usual validation procedures and other testing before we publicly release it.

[2019-03-23 12:46] starover77 commented on #38
I will add this to my TODO list and I hope to get that done this evening.

[2019-03-24 08:20] typiconman commented on #38
This is now fixed.

[2019-03-24 08:20] #38 closed

[2019-03-28 16:25] typiconman commented on #36
@starover77 Do you want to tackle this issue?

[2019-03-28 21:22] starover77 commented on #36
Yes, I will add this to my TODO list. I will work on it later this evening and send it to you (@typiconman).

[2019-03-28 22:33] starover77 commented on #36
Done, and sent to Aleksandr for review.

[2019-03-29 08:44] typiconman commented on #36
Fixed and closed.

[2019-03-29 08:44] #36 closed

[2019-04-04 23:35] aleslavista commented on #35
Where can I download is the updated version?

[2019-04-05 06:09] typiconman commented on #35
For now, you can pull the latest code off GitHub and run ``make all``. I'll create updated binaries together with the beta version of the Mezenets font.

[2019-04-08 16:13] typiconman commented on #34
I think we rushed with closing this. Place an accent above the Uk creates problems. @starover77 please comment, especially regarding number 2.
![Screenshot from 2019-04-08 19-13-03](https://user-images.githubusercontent.com/5428695/55739765-615f2200-5a32-11e9-9c06-0bd625dbc46d.png)

[2019-04-08 16:18] starover77 commented on #34
I am not seeing any problems. What should I be looking for?

[2019-04-08 17:31] typiconman commented on #34
Is the position of the acute accent correct? It looks strange, it almost collides with the ascender on the Uk. Here are some more examples:
![Screenshot from 2019-04-08 20-30-45](https://user-images.githubusercontent.com/5428695/55744267-38905a00-5a3d-11e9-9dd1-0c8c2f8f829f.png)

[2019-04-08 17:49] starover77 commented on #34
It does look a little bit close, but not so bad that I think it looks wrong. In my opinion, I don't think it's worth any further attention.

However, the fourth letter, with the kamora, looks wrong to me. (I suppose this is because I am used to seeing pre-Nikonian poluustav texts.) Contextually, I am used to seeing a kamora placed over a completely truncated Uk (both left and right ascenders short

[2019-04-08 17:51] typiconman commented on #34
The Uk with the kamora is correct for Muscovite Synodal typography.

[2019-04-08 18:20] starover77 commented on #34
Yeah, I figured that. Modern typeface matrices had a lot less diversity that earlier forms, where truncated letters were used more extensively.

[2019-04-08 18:33] typiconman commented on #34
So, should I keep the acute accent where it is now? Or return it to the raised position, as with the non-truncated version?

[2019-04-08 18:36] starover77 commented on #34
My vote: Leave it where it is now (lowered).

[2019-04-08 18:39] typiconman commented on #34
Alright. Then we'll consider this closed.

[2019-04-08 18:39] #34 closed

[2019-04-20 09:49] typiconman commented on #47
I ported Vlad Dorosh's Oglavie font to Unicode. @starover77 please review.
![oglavie](https://user-images.githubusercontent.com/5428695/56455722-c25bf380-636a-11e9-8665-6a09c783c30e.png)

[2019-04-29 16:02] typiconman commented on #47
I ported Vlad Dorosh's Vertograd font to Unicode. @starover77 and others, please review.
![vertograd](https://user-images.githubusercontent.com/5428695/56909656-4e7bc280-6ab1-11e9-89eb-6776891f421a.png)

[2019-04-29 16:35] starover77 commented on #47
XB!

Oglavie looks great. I think it is ready for public release.

Vertograd.... for what it is, it looks decent, although I personally dislike the design (it doesn't look remotely close to anything "traditionally Slavic" in its artistic style - perhaps pseudo-Gothic?). Setting aside my prejudices... two remarks:

1) When I downloaded the .sfd file and opened it in FontForge, its encoding was set

[2019-04-29 16:59] typiconman commented on #47
BB!

Well, Vertograd is the typeface used for initial letters and titling in most Synodal editions published circa 1900, as well as in current reprints.
But sure, I can get rid of the circular .notdef. :)

[2019-04-30 15:52] typiconman commented on #47
@starover77 I changed the .notdef / .null glyphs.

[2019-05-02 11:31] typiconman commented on #47
I added Cathisma Unicode, a reencoding of Vlad Dorosh's Kathisma UCS font. @starover77 please review.
![cathisma](https://user-images.githubusercontent.com/5428695/57072583-e57d9000-6ce6-11e9-87c1-f38d55bae240.png)

[2019-05-04 11:22] starover77 commented on #47
Cathisma Unicode looks fine to me.

[2019-05-17 12:37] EliseyP opened #50 "Change shape of Cross sign in Ponomar"
Need for new Cross symbol like in "Orthodox.tt eRoos" font: \u2020
![Kross](https://user-images.githubusercontent.com/38728959/57928454-793f8680-78b9-11e9-83e1-4143c26523fa.png)

It have very nice proportions!

[2019-05-17 22:48] starover77 commented on #50
I'm sorry, but I beg to differ with you in regard to proportions. The Cross as depicted in the Orthodox.tt eRoos font lacks consistency of weight and balance. First of all, all four lines should be of equal weight (thickness). Second, the section above the long horizontal beam should form a perfect 2-bar Cross, with equal proportions like the + (plus) sign. Third, the diagonal bar should only exte

[2019-05-18 05:38] typiconman commented on #50
По-моему @starover77 прав. У символа в Orthodox.tt eRoos действительно неверные пропорции.

Having said, the shape of the Cross symbol in our fonts is not proportional either.
![cross](https://user-images.githubusercontent.com/5428695/57965127-527c6100-7948-11e9-868b-3c31bc9722a5.png)

[2019-05-26 08:38] typiconman commented on #46
Support for SIL Graphite has now been moved to the [legacy repository](https://github.com/slavonic/fonts-cu-legacy).

[2019-05-26 10:00] #46 closed

[2019-05-26 10:02] typiconman commented on #24
Closed, since TTF fonts are no longer supported.

[2019-05-26 10:02] #24 closed

[2019-06-14 08:51] KrasnayaPloshchad opened #51 "Update the documentation for LibreOffice"
LibreOffice 6.2 implemented the Font Feature dialog, which provides graphical interface to switch font feature, and accessable at the Character dialog, so I suggest updating documentation to reflect this change.

See: https://wiki.documentfoundation.org/ReleaseNotes/6.2

[2019-06-14 09:59] typiconman commented on #51
Thanks for pointing it out. I need to upgrade to 6.2 and give it a test!

[2019-06-29 09:46] typiconman commented on #47
@while0pass I began adding Pochaevsk (still needs anchor points and validation). @starover77 What do you think about the Typicon symbols? Perhaps we can just import them from Ponomar and tweak the dimensions?
![typiconsymbols_pochaevsk](https://user-images.githubusercontent.com/5428695/60382458-effca180-9a6b-11e9-8214-b306dd07ebbd.png)

[2019-06-29 11:43] starover77 commented on #47
I believe that the Typicon symbols in Pochaevsk were added from other (dubious) sources. Unless you hear back from me later on the matter, let's just import them from Ponomar.

[2019-06-29 11:45] typiconman commented on #47
There are no Typicon symbols in Pochaevsk right now. I'd like to add them in from Ponomar (that's being demonstrated on the image above; sorry that I didn't make it clear). Would you be willing to fine tune the glyphs?

[2019-06-29 11:46] starover77 commented on #47
A comment on the Slovo Titlo: compared to other diacritical marks, it seems that it is floating too high above the word. I think we should try to make all titla approximately the same height above the characters.

[2019-06-29 11:47] typiconman commented on #47
Yes, as I wrote above -- there are no anchor points yet. So the diacritical marks are all positioned wrong.

[2019-06-29 12:01] starover77 commented on #47
I actually have three or four other versions of Pochaevsk which do have some Typicon symbols included. I first received a copy of the font back in 1991 (called ChurchSlavonic, developed by Linotype), and it was I who originally reworked it and called it Pochaevsk in 2000. (I chose that name because Linotype designed the lead type for Jordanville, and later they designed a film and then a digital m

[2019-06-29 12:04] typiconman commented on #47
Thanks. Didn't realize this font reproduced Jordanville's typeface. Pretty cool!

[2019-07-04 23:49] typiconman commented on #47
@starover77 If you have some time, please review. I've added GSUB data and ran the Pochaevsk font through validation algorithms. It may need some fine tuning of anchor points.

[2019-07-07 11:44] starover77 commented on #47
I've finally had a chance to look at the font in detail, and I see that the outlines are going to need a good deal of cleaning up (it's all minor work, but extensive throughout the font), which I think I can manage to get done on Monday. While I am working on that, I will add the Typicon symbols which I had initially designed to go with this font, based on Jordanville publications.

[2019-08-03 15:46] typiconman commented on #47
Triodion Unicode is ready for testing.
The kerning will need some tweaking, and a few glyphs (such as Typicon symbols) need to be added. @starover77 your thoughts?

[2019-08-05 14:04] starover77 commented on #47
I have a bit of time today to look over the Triodion font, and I will add Typicon symbols, etc. as needed. (I will try to find some time to look over the Smolensky and Shaidur fonts as well, but I may not be able to do much with them today.)

[2020-01-14 16:25] typiconman commented on #28
@aleslavista Is the Serbo-Croation translation done? Can I merge it into master?

[2020-01-19 13:04] aleslavista commented on #28
Hello Andreev, sorry if I'm late. Unfortunately at the moment I'm too busy, maybe this summer I'll be able to take care of translations.

[2020-01-19 13:09] typiconman commented on #28
OK. Then I'll just merge what we have, and you can revise it later, if you have the time.

[2020-01-19 16:26] aleslavista commented on #28
Please do not publish it now, it's full of mistakes. I promise I'll correct it as soon as possible, unfortunately at the moment I'm busy with lexicography.

[2020-01-20 07:04] typiconman commented on #28
OK, but please don't close the issue. Maybe somebody else wants to work on it.

[2020-01-20 17:36] aleslavista commented on #28
Sorry, I didn't mean to, I must have pressed the wrong button.

[2020-04-09 20:45] while0pass commented on #47
Спасибо, что включили в пакет Почаевск. Было бы замечательно добавить ещё его узкую версию. Гарнитура Почаевск, на мой взгляд, имеет особою типографскую ценность благодаря коротким выносным элементам. Это делает её единственной в своем роде. Она очень практичнапри необходимости вкраплять в текст с гражданским шрифтом. Однако ее классическая версия сохраняет характерную для большинства церковнослав

[2020-04-10 06:11] typiconman commented on #47
@tiroj Perhaps this is an issue you/d be interested in taking up: a condensed version of the Pochaevsk font.

[2020-04-10 17:09] tiroj commented on #47
Possibly. I'll take a look when I have some time. Things just got very busy.

[2020-04-13 05:15] typiconman commented on #47
I ported Akafistos to Unicode (I called it Acathist). @starover77 I think it is more or less ready for testing.
![Screenshot from 2020-04-13 08-13-04](https://user-images.githubusercontent.com/5428695/79094063-ee803980-7d5e-11ea-8a9b-be81e5ef9020.png)

[2020-04-16 08:14] GeorgePlotnikov opened #54 "Incorrent red letter view in HTML (macOS)"
Hi @typiconman ,

The Indiction and Vertrograd fonts have bad view on my Mac in the safari v13.0.5

<img width="407" alt="image" src="https://user-images.githubusercontent.com/22812032/79431540-41fabd80-7fd3-11ea-94d9-1196a6cac567.png">

[2020-04-16 08:24] GeorgePlotnikov opened #55 "Incorrect font view on Mac in MS Word"
Hi @typiconman,

see the view how does the font Ponomar look on Mac in the MS Word

<img width="1077" alt="Screenshot 2020-04-16 at 11 20 28" src="https://user-images.githubusercontent.com/22812032/79432683-d6b1eb00-7fd4-11ea-84d4-918b7be7d6f6.png">

[2020-04-16 09:20] typiconman commented on #54
What's the problem? Here is what it looks like on my Linux Mint machine
![fonts](https://user-images.githubusercontent.com/5428695/79438815-b25a0c80-7fdc-11ea-8aff-f3b2301fa8e7.png)
.

[2020-04-16 09:24] typiconman commented on #55
Very strange. Unfortunately, I cannot test it, since I don't have a Mac.

Does the same thing happen with the other fonts from our site?

[2020-04-16 17:17] typiconman commented on #54
Never mind, I figured out the problem and fixed. Thanks for reporting it.

[2020-04-16 17:17] #54 closed

[2020-10-19 14:57] EliseyP opened #56 "TeX: Bold selection instead kinovar for black/white printing"
For BW printing we can select f.r. fist letter in word with bold.
Although PonomarUnicode font haven't bold typeface, there is FakeBold options (OpenOffice use it, i think).
We can create own fake-bold font and redefine some TeX macroses.
For example, global redefining \cu@kinovar (in my style-file i have own option "black", one can add option "fakebold" etc.):

[code]
![Screenshot_20201019_175123

[2020-10-19 15:22] EliseyP opened #57 "Tex: kerning with color"
There is old problem with using \textcolor{FirstLetter}SecondAndOtherLettersOfWord - we are losing kerning between colorized and non-colorized parts of word.
Using luacolor and LuaLaTeX solve this problem, but not always possible using it.
I ask on StackExchange ([Kerning with xcolor](https://tex.stackexchange.com/questions/567220/kerning-with-xcolor)) and get answer from _egreg_.
I can't understa

[2020-10-19 15:27] typiconman commented on #57
@pgmmpk please take a look.

[2020-10-20 21:06] pgmmpk commented on #57
Looks like this belongs to https://github.com/slavonic/cu-tex

@EliseyP could you please replicate the same there?

Answering EliseyP's question: macro `\cu@tokenizeletter` does just one very simple thing: it locates first letter in the subsequent text (including accents if any) and applies the macrocommand to it. For example: `\cu@tokenizeletter\X ABC => \X{A}BC`

Please check this: https://githu

[2020-10-20 22:01] EliseyP commented on #57
It working, very simple patch :-)

[2020-10-20 23:33] EliseyP commented on #57
Unfortunately, in **complicated examples** this patch not working. For example:
At first, if \cuKinovar into \begin{center} .. \end{center} - it's not working. (Work with \centering)
Second - \addtokomafont{chapter}{\Large\cuKinovar} - not working.
Both work without patch.

[code]

[2020-10-21 11:54] pgmmpk commented on #57
1. To color a text span use `\cuKinovarColor`, not `\cuKinovar`
2. I do not think `\cuKinovar` can be used with `\addtokomafont` as it is not a robust command. I am not sure if its a problem with `\cuKinovar` or `\addtokomafont`.

Having said that, I tried to make `\cuKinovar` implementation a bit more clever, please check @EliseyP .

[2020-10-21 13:44] pgmmpk commented on #57
@EliseyP please disregard, the updated implementation is badly broken (not doing kerning). Working on this.

[2020-10-21 14:01] pgmmpk commented on #57
@EliseyP seem to be (kinda) working now. Please, check.

[2020-10-21 14:48] EliseyP commented on #57
It's work fine. Thank you!

[2020-10-21 14:57] EliseyP commented on #57
May be it not needed, but what about this construction?
[code]

[2020-10-21 15:04] pgmmpk commented on #57
I personally think it is a bad style to use macros for text substitution. It makes text less readable. Besides, it looses a space after the macro, so one have to jump thru hoops to fix that (e.g. `\MyMacro~other text`). Overall, supporting eager macro expansion in `\cuKinovar` is a separate thing, lets discuss it in a separate place?

[2020-10-21 15:08] EliseyP commented on #57
Yes, you are right.

[2020-11-01 17:31] typiconman commented on #56
This needs to be added to the documentation.

[2020-11-01 17:32] typiconman commented on #57
Can this be closed?

[2020-11-01 17:41] EliseyP commented on #57
May be it linked with issue [slavonic/cu-tex] \cuKinovar in \newenviroment? If not, it can be closed.

[2020-11-01 17:45] #57 closed

[2020-11-01 17:57] EliseyP opened #58 "Лигатура для Т прописной и о-титла"
При написании слова **Троица** с прописной (в начале предложения/стиха и т.д.) происходит такое наложение элементов.
![Screenshot_20201101_204909](https://user-images.githubusercontent.com/38728959/97810336-28297b00-1c84-11eb-8941-3e9ae92cd714.jpeg)
Возможно, правда, так и задумано. Не уточнял, как это выглядит в рукописных/печатных книгах.

[2020-11-01 17:59] typiconman commented on #58
Это баг.

[2020-11-03 08:40] EliseyP opened #59 "TeX: CMYK colors."
Our typography wanted pdf with cmyk colors.
We can redefine kinovar color \definecolor{kinovar}{cmyk}{N,N,N,N}.
(I set color-model option in my .sty file (cmyk or rgb)).

What kinovar values will be in cmyk?

[2020-11-03 12:22] typiconman commented on #59
Based on the converter here: https://www.rapidtables.com/convert/color/rgb-to-cmyk.html
RGB 205,8,3 corresponds to CMYK 0,96,99,20.

[2020-11-06 08:42] EliseyP opened #60 "TeX: strange hyphenation behaviour"
There is strange problems with hyphenation in footnotes.

For such code:
[code]
I have this output:
![Screenshot_20201106_112845](https://user-images.githubusercontent.com/38728959/98343764-5829a300-2023-11eb-928b-21d2f2215ef1.jpeg)
![Screenshot_20201106_114910](https://user-images.githubusercontent.com/38728959/98345745-1fd79400-2026-11eb-82d6-7ed39831bd9c.jpeg)

Hyphenation work, but not always.

[2020-11-10 15:57] typiconman commented on #60
Strange. Does the same problem occur with other fonts or is this a Ponomar Unicode issue? @pgmmpk any thoughts?

[2021-06-14 18:53] Tyrn opened #61 "Backward compatibility"
On texlive 2018, Linux

It turned out, that the font collection downloaded today from [here](https://www.ponomar.net/files/fonts-churchslavonic.zip?_ga=2.259133578.1877773033.1558533869-234991592.1558533869), is not compatible with my project. The errors in the `latexmk` log include wrong font names and missing shapes.

Reverting to the fonts from the old zip file
[code]
solves the problem.

[2021-06-15 06:20] typiconman commented on #61
Hello. Can you please send the log file so that I can see what the problem is?

[2021-06-15 09:54] Tyrn commented on #61
Back then something made me use TT fonts, apparently discarded from the current distribution.
[code]
I discarded them, too:
[code]
The build is successful, but the shape warnings are still there. Is it OK? I can't see any attachment icon here, and the log file is way too big; I put some quotes.
[code]
Is it perfectly harmless? Or is there something to be done about these warnings?

[2021-06-15 09:58] typiconman commented on #61
We discontinued supporting the TrueType fonts and Graphite features. If you still need them, they are in the legacy package:
https://github.com/slavonic/fonts-cu-legacy

The warnings look harmless to me, just TeX complaining that there are no bold and italic versions of the fonts. Did you file build OK?

[2021-06-15 11:00] Tyrn commented on #61
Thanks! Yes, the build looks OK.

[2021-06-15 11:15] #61 closed

[2021-07-08 12:39] EliseyP opened #62 "Kerning problems in Ponomar Unicode"
In LibreOffice kerning for "Тв" pair with **Ponomar Unicode** font looks some strange.
Top string - **Ponomar Unicode,** down - **Hirmos UCS.**
Maybe that's what it's meant to be?

![2021-07-08_15-27-44](https://user-images.githubusercontent.com/38728959/124922387-1f066000-e002-11eb-9ce3-59954df10e48.png)

[2021-07-08 13:58] starover77 commented on #62
Kerning is a principle of modern, western typography. Imposing the principle of kerning onto Church Slavonic fonts seems like a great idea to us in modern times (and I'm sure that a bit of kerning was attempted in some 19th century publications), but its use is quite anachronistic. Take a look at printed editions of Slavonic service books right up to modern times, and you will not see kerning used

[2021-07-08 15:37] EliseyP commented on #62
Thank you, dear Nikita, I understand your idea.
Not for the dispute - I just look at other pairs with **"Т"** letter in **Ponomar**, such as **"Ти", "Та"** (especially), and think may be for **"Тв"** can be some similar.
![2021-07-08_18-29-38](https://user-images.githubusercontent.com/38728959/124950036-becfe800-e01a-11eb-91d8-7709fdb839ed.png)

Anyway thank you and Andrey for your job.

[2021-07-08 15:43] typiconman commented on #62
It's a bug. Related to #58

[2021-07-08 15:44] typiconman commented on #58
@EliseyP можете прислать пример из печатных книг, как должна выглядеть эта комбинация?

[2021-07-08 15:57] EliseyP commented on #58
Ищу, ищу. Редкий, понятное дело случай. Спрашивал даже у знакомых
иконописцев, как могла бы она выглядеть. Пока ничего. Предположу, что
«пострадает» горизонтальная часть буквы Т (как часть у буквы у с Варей).
Либо будет объединение.

Чт, 8 июля 2021 г. в 18:44, Aleksandr Andreev ***@***.***>:

[2021-07-08 16:01] typiconman commented on #58
Хотелось бы увидеть пример, перед тем как рисовать.

[2021-07-08 16:12] EliseyP commented on #58
Вот, для шрифта `Orthodox.tt Ucs8` такой вариант:
![2021-07-08_19-08-55](https://user-images.githubusercontent.com/38728959/124955883-17ee4a80-e020-11eb-807f-122ce065bf9a.png)

Покрытие высоко, но в пределах высоты шрифта, такой же высоты, как, скажем, `Аз+Исо`.

[2021-07-08 18:58] EliseyP commented on #58
Немного экзотично, но возможно вот такой вариант:
![2021-07-08_21-55-16](https://user-images.githubusercontent.com/38728959/124976110-7ffc5b00-e037-11eb-9090-3f805606d1f9.png)

Исполнение корявое, но общий принцип, думаю, понятен. Не помню, где точно я это видел, правда.

[2021-07-08 19:48] EliseyP commented on #58
Иконописцы посоветовали такой вариант:
![2021-07-08_22-38-57](https://user-images.githubusercontent.com/38728959/124981743-978b1200-e03e-11eb-94a9-42563c350d96.png)

[2021-07-08 19:52] typiconman commented on #58
Да, пожалуй этот вариант самый приемлемый.

[2021-07-11 19:23] mamyt commented on #58
I have attached other similar cases where there is a collision between a capital letter and the titlo that should also be fixed. As well, there are a few other collisions that would need to be fixed.
[Collision between Titlo and Capital Letters.pdf](https://github.com/typiconman/fonts-cu/files/6797535/Collision.between.Titlo.and.Capital.Letters.pdf)

[2021-07-11 21:51] starover77 commented on #58
Here is my contribution, where I test the positioning of selected titly and kerning.
[TTitlo and Kerning test doc.pdf](https://github.com/typiconman/fonts-cu/files/6797720/TTitlo.and.Kerning.test.doc.pdf)

[2021-07-11 22:00] typiconman commented on #58
@mamyt this was done on what platform?

[2021-07-12 04:09] EliseyP commented on #58
It's bug? - kamora position seems left shifted.
![image](https://user-images.githubusercontent.com/38728959/125229711-fe7b2600-e2df-11eb-9231-cc27c874c02d.jpeg)

[2021-07-12 04:27] mamyt commented on #58
Windows 10 (latest release) and Microsoft Word 2019 (latest build) with all
advanced font features selected.

On Mon, 12 Jul 2021 at 00:00, Aleksandr Andreev ***@***.***>
wrote:

[2021-07-12 14:41] typiconman commented on #58
По-моему так решили при дизайне шрифта (центрирование по отношению к основанию, а не к верхней части). Но можно изменить.

[2021-07-12 14:43] EliseyP commented on #58
Похоже, что относительно основания сдвиг.

[2021-12-31 16:55] aleslavista commented on #28
This is the almost definitive version: https://github.com/typiconman/fonts-cu/edit/update-dox/docs/fonts-churchslavonic-sr.tex We're almost done.

[2022-01-14 15:42] typiconman commented on #59
I think this issue can be closed.

[2022-01-14 15:42] #59 closed

[2022-01-14 15:44] typiconman commented on #55
Cannot test, since I have no access to a Mac.

[2022-01-14 15:48] typiconman commented on #50
@starover77 Please provide some input on this.

[2022-01-16 14:35] GeorgePlotnikov commented on #55
@typiconman I can

[2022-01-16 16:06] typiconman commented on #55
Ok. Pull requests are welcome.

[2022-01-29 07:26] EliseyP commented on #55
On Monterey (in VMWare) CSL text showed correctly, but **keyboard driver** not accessible for MSWord, and Notes, TextEdit. Driver showed at tray menu, but not selectable for this application.
![Screenshot_20220129_100315](https://user-images.githubusercontent.com/38728959/151651851-55239a30-1b3e-42b2-a06e-c4dd36e3ff87.jpeg)

For Libre Office, Terminal, Adobe InDesign all work fine.

![Screenshot_2

[2022-01-31 04:59] typiconman commented on #55
Is it a bug in MS Word?

[2022-02-04 09:21] GeorgePlotnikov commented on #55
Just checked on the latest versions (macOS & ms word). Seems works fine. Close then
<img width="869" alt="image" src="https://user-images.githubusercontent.com/22812032/152503946-e020da7a-d0d7-47ca-b6f5-fed1783356a1.png">

[2022-02-04 09:21] #55 closed

[2022-02-04 09:25] EliseyP commented on #55
What about CSL keyboard driver for MSWord in Mac for you? Fonts showed
correctly, but can you type csl text with diacritics etc in MSWord?

Пт, 4 февр. 2022 г. в 12:21, George Plotnikov ***@***.***>:

[2022-02-04 09:26] GeorgePlotnikov commented on #55
@EliseyP can you please gimme some key combinations to try

[2022-02-04 09:48] EliseyP commented on #55
F.e. "a + shift + 7" (a with iso)

Пт, 4 февр. 2022 г. в 12:26, George Plotnikov ***@***.***>:

[2022-02-04 12:05] GeorgePlotnikov commented on #55
im not sure I understand how it works...

[2022-02-04 12:19] EliseyP commented on #55
You should select keyboard driver for Church Slavic language (in tray meny, in language selector, as you can see at sreenshots in my past comment). And you can type csl text with all specific things (diacritics etc).

I wrote, that in case LibreOffice I can select Church Slavic language and type all, what I want (see on second sreenshot). But for several applications, MSWord and so on, I can't eve

[2022-02-07 19:06] GeorgePlotnikov commented on #55
@EliseyP I think it works
<img width="680" alt="Screen Shot 2022-02-07 at 10 05 42 PM" src="https://user-images.githubusercontent.com/22812032/152854876-074f606b-3942-4456-bf63-2c2b2b9b698e.png">

[2022-02-07 19:09] EliseyP commented on #55
You type this in MSWord? And do you set font for this fragment?

[2022-02-07 19:12] GeorgePlotnikov commented on #55
@EliseyP OMG yes, how difficult it is 😓

<img width="599" alt="image" src="https://user-images.githubusercontent.com/22812032/152855648-2e5c0554-07d4-4e19-a882-968c038e1bd9.png">

[2022-02-07 20:34] EliseyP commented on #55
All work fine. Keyboard layout must be installed for system level.

![Screenshot_20220207_233112](https://user-images.githubusercontent.com/38728959/152867397-554f40b6-d65a-4f62-9184-ea5be4c7f25c.jpeg)

[2022-02-15 22:37] aleslavista commented on #28
[Apparently there's no bug as I was mistaken in my understanding of date format in Serbian](https://github.com/reutenauer/polyglossia/issues/524#issuecomment-1040296839). Thus you may publish immediately: TeXworks though warns of some text overflows, but I just don't know how to fix them.

[2022-03-18 19:47] EliseyP commented on #58
Временное решение для XeLaTeX:
[code]
Соответственно, в тексте команда `\Troi{цѣ}` даст такой вывод:
![Screenshot_20220318_224632](https://user-images.githubusercontent.com/38728959/159073572-96b6188e-1f4f-4e1d-9b36-fc3ba7cdfd40.jpeg)

[2022-03-18 19:59] EliseyP commented on #58
Соответственно для слов под с-титлом Трисвятое и т.п.:
[code]
команда `\Trisvjat{о́е}` даст:
![Screenshot_20220318_225825](https://user-images.githubusercontent.com/38728959/159075048-370a0b02-f4f0-4500-bae3-26818f693790.jpeg)

[2022-03-18 20:37] EliseyP commented on #58
Для ѧ + камора есть автоматическое решение для XeLaTeX:
[code]
![Screenshot_20220318_233648](https://user-images.githubusercontent.com/38728959/159079837-5dd7668a-b508-4cd9-9041-26bdcd3b7cee.jpeg)

[2022-06-07 08:22] Alexk12 opened #63 "Начертание буквы "земля" (U+0437) в PonomarUnicode следует исправить"
![ponomar-zemlya](https://user-images.githubusercontent.com/16455355/172331891-598e7420-8449-4838-8efc-e0aba3f5160e.png)
Состыковку верхнего и нижнего полуовалов в букве "земля" (U+0437) шрифта PonomarUnicode желательно улучшить и исправить, вероятно (даже очевидно), сделать острой, как это сделано в соответствующем элементе буквы Кси (прописной, U+046E) и в прописной букве "земля".
Шрифт Irmologi

[2022-06-07 14:01] typiconman commented on #63
@starover77 @EliseyP and others, please comment.
По поводу Грамматики вл. Алипия, я бы не слишком доверял ее типографскому набору (как первичному, Джорданвилльскому, так и последующим воспроизведениям). Для нас все таки эталон - издания Синодальной типографии.

[2022-10-10 09:03] KrasnayaPloshchad commented on #47
It would be nice if you get permissions to convert more fonts from irmologion.ru

[2022-10-10 12:59] typiconman commented on #47
All fonts that are part of the [CSLTeX](https://sites.google.com/site/csltex/) package can be converted since they are licensed under the LaTeX license.
Pull requests are welcome.

[2022-10-13 08:07] EliseyP opened #64 "Superscript kerning problems after LibreOffice update to 7.4 ver."
After LibreOffice update to 7.4 ver., there are some problems with ending superscripts kerning.

![Screenshot_20221013_105536](https://user-images.githubusercontent.com/38728959/195538388-aac59d33-0540-4122-b568-33673e9db838.jpg)

![Screenshot_20221013_105318](https://user-images.githubusercontent.com/38728959/195538463-6f8ec38b-f25d-4ad5-8e78-cf38d3bb0895.jpg)

![Screenshot_20221013_105424](https

[2022-10-15 00:06] typiconman commented on #64
Are we sure this a problem with the font and not a problem with LibreOffice? Does the same problem occur with all of the fonts? Right now I am running version 6.4.7, so cannot verify.

[2022-10-15 08:01] EliseyP commented on #64
With `Triodion Unicode` too:

![Screenshot_20221015_105939](https://user-images.githubusercontent.com/38728959/195976228-ed7eef31-0e9b-46e6-99d7-8f6f8c0df023.jpg)

[2022-10-15 18:42] EliseyP commented on #64
It looks like the `7.4` version is still a bit damp. There were problems with running macros from previously installed extensions. I had to roll back to `7.3'.

[2022-10-15 21:30] typiconman commented on #64
Do the fonts work OK in 7.3?

[2022-10-15 21:31] EliseyP commented on #64
Yes

[2022-10-15 21:32] typiconman commented on #64
So I will consider this closed for now.

[2022-10-15 21:32] #64 closed